[:main_video:]
<div class="span-24-2">
	<div class="span-24">
		<!-- the tabs -->
		<ul class="losmas">
		    <li><a href="#">Lo + Reciente</a></li>		
		    <li><a href="#">Lo + Visto</a></li>
		</ul>
		<!-- tab "panes" -->
        <div class="contelosmas">
        	<div>
				[:latest_videos:]
			</div>
        	<div>
				[:mostviewed_videos:]
			</div>
		</div>
		<script>
         $(function() {
             $("ul.losmas").tabs("div.contelosmas > div");
         });
		 </script>
	</div>
</div>
<div class="span-24 boxTv box2">
	[:boxnoticias:]
</div>
<div class="span-24 boxTv box3">
    [:boxgoles:]
</div>
<div class="span-24 boxTv box4">
	[:boxdeportes:]
</div>
<div class="span-24 boxTv box5">
	[:boxentretencion:]
</div>
<div class="span-24 boxTv box6">
	[:boxtendencias:]
</div>
<div class="span-24 boxTv box7">
 	[:boxbbcmundo:]
</div>