<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
   <head> 
  	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   	  <meta name="keywords" content="video,clip,[:keywords:]" />
   	  <meta name="description" content="[:description:]" />
      <title>3TV.CL</title>
      <base href="[:url:]/" />
      <link rel="icon" href="[:url:]/_favicon.ico" type="image/x-icon" />
	  <link rel="shortcut icon" href="[:url:]/_favicon.ico" type="image/x-icon" />
      <link href="../css/master.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript">var baseurl="[:url:]/";</script>
	  <script type="text/javascript" src="ajax.js"></script>
	  <script type="text/javascript" src="functions.js"></script>
	  <script type="text/javascript" src="colorpicker.js"></script>	  
	  <link rel="alternate" type="application/rss+xml" title="[:sitename:] [:T_RSS_FEED:]" href="index.php?m=latestrss" />   
<script language="javascript">
  if (document.URL == 'http://3tv.cl/') {
  	window.location.href='http://www.3tv.cl';
  }
</script>	
   </head>
   <body class="bgHome">
    <!--Al hace llamado a la funcin solo tienes que idicar el nombre del DIV entre parentesis -->    <div id="navlt">
        <!--BARRA DE NAVEGACION LA TERCERA.COM-->
      <div id="topNav">
        <h1><a href="http://www.latercera.com/">La Tercera.com</a></h1>
		   <ul class="menult">
  			<li><a href="http://www.latercera.com/canal/654.html">PA&Iacute;S</a></li>
            <li><a href="http://www.latercera.com/canal/678.html">MUNDO</a></li>
            <li><a href="http://www.latercera.com/canal/655.html">NEGOCIOS</a></li>
            <li><a href="http://www.latercera.com/canal/656.html">DEPORTES</a></li>
            <li><a href="http://www.latercera.com/canal/659.html">TENDENCIAS</a></li>
            <li><a href="http://www.latercera.com/canal/661.html">ENTRETENIMIENTO</a></li>
            <li><a href="http://www.latercera.com/canal/657.html">EDUCACI&Oacute;N</a></li>
            <li><a href="http://www.latercera.com/canal/660.html">ESTILO</a></li>
            <li><a href="http://www.latercera.com/canal/665.html">MOTORES</a></li>
            <li><a href="http://www.latercera.com/canal/658.html">3BLOG</a></li>
            <li><a href="http://www.3tv.cl">3TV</a></li>
            <li><a href="http://www.3radio.cl">3RADIO</a></li>
            <li><a href="http://www.latercera.com/canal/664.html">3CIUDADANO</a></li>      
        </ul>
      </div>
      <!--FIN BARRA DE NAVEGACION LA TERCERA.COM-->
    </div>
[:if showswf=="true":]
   <div id="topcarrusel">
      	<div> 
		<script type="text/javascript" language="JavaScript1.1">

			if(document.URL == "http://www.3tv.cl/"){
				<!--HOME-->
				<!--
				var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
				var cs = document.charset || document.characterSet;
				document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.us.e-planning.net/eb/3/4900/2f433dfdfbfe741e?o=j&rnd=' + rnd + '&crs=' + cs + '"></scr' + 'ipt>');
				//-->
			}
			
			if(document.URL == "http://www.3tv.cl/index.php?m=category&c=8"){
				<!--NOTICIAS-->
				<!--
				var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
				var cs = document.charset || document.characterSet;
				document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.us.e-planning.net/eb/3/4900/b8e0f6f857916cda?o=j&rnd=' + rnd + '&crs=' + cs + '"></scr' + 'ipt>');
				//-->
			}
			
			if(document.URL == "http://www.3tv.cl/index.php?m=category&c=38"){
				<!--GOLES-->
				<!--
				var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
				var cs = document.charset || document.characterSet;
				document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.us.e-planning.net/eb/3/4900/bc1afd6d96d6fd54?o=j&rnd=' + rnd + '&crs=' + cs + '"></scr' + 'ipt>');
				//-->
			}
			
			if(document.URL == "http://www.3tv.cl/index.php?m=category&c=12"){
				<!--DEPORTES-->
				<!-- 				
				var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
				var cs = document.charset || document.characterSet;
				document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.us.e-planning.net/eb/3/4900/415a14ac4dbb255b?o=j&rnd=' + rnd + '&crs=' + cs + '"></scr' + 'ipt>');
				//-->
			}
			
			if(document.URL == "http://www.3tv.cl/index.php?m=category&c=16"){
				<!--ENTRETENCION-->
				<!-- 			
				var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
				var cs = document.charset || document.characterSet;
				document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.us.e-planning.net/eb/3/4900/cab24103bd5e2b98?o=j&rnd=' + rnd + '&crs=' + cs + '"></scr' + 'ipt>');
				//-->				
			}	
			
			if(document.URL == "http://www.3tv.cl/index.php?m=category&c=42"){
				<!--TENDENCIAS-->
				<!-- 		
				var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
				var cs = document.charset || document.characterSet;
				document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.us.e-planning.net/eb/3/4900/cd6baf407e819cba?o=j&rnd=' + rnd + '&crs=' + cs + '"></scr' + 'ipt>');
				//-->		
			}				
			
			if(document.URL == "http://www.3tv.cl/index.php?m=category&c=47"){
				<!--3Cuidadano-->
				<!-- 	
				var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
				var cs = document.charset || document.characterSet;
				document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.us.e-planning.net/eb/3/4900/1e916a2f2a07eeba?o=j&rnd=' + rnd + '&crs=' + cs + '"></scr' + 'ipt>');
				//-->		
			}	
			
		</script>			
			
			<!--HOME-->
			<noscript><a href="http://ads.us.e-planning.net/ei/3/4900/2f433dfdfbfe741e?it=i&rnd=$RANDOM" target="_blank"><img width="728" height="90"  alt="e-planning.net ad" src="http://ads.us.e-planning.net/eb/3/4900/2f433dfdfbfe741e?o=i&rnd=$RANDOM" border=0></a></noscript>
			<!--NOTICIAS-->
			<noscript><a href="http://ads.us.e-planning.net/ei/3/4900/b8e0f6f857916cda?it=i&rnd=$RANDOM" target="_blank"><img width="728" height="90"  alt="e-planning.net ad" src="http://ads.us.e-planning.net/eb/3/4900/b8e0f6f857916cda?o=i&rnd=$RANDOM" border=0></a></noscript>
			<!--GOLES-->
			<noscript><a href="http://ads.us.e-planning.net/ei/3/4900/bc1afd6d96d6fd54?it=i&rnd=$RANDOM" target="_blank"><img width="728" height="90"  alt="e-planning.net ad" src="http://ads.us.e-planning.net/eb/3/4900/bc1afd6d96d6fd54?o=i&rnd=$RANDOM" border=0></a></noscript>
			<!--DEPORTES-->
			<noscript><a href="http://ads.us.e-planning.net/ei/3/4900/415a14ac4dbb255b?it=i&rnd=$RANDOM" target="_blank"><img width="728" height="90"  alt="e-planning.net ad" src="http://ads.us.e-planning.net/eb/3/4900/415a14ac4dbb255b?o=i&rnd=$RANDOM" border=0></a></noscript>
			<!--ENTRETENCION-->
			<noscript><a href="http://ads.us.e-planning.net/ei/3/4900/cab24103bd5e2b98?it=i&rnd=$RANDOM" target="_blank"><img width="728" height="90"  alt="e-planning.net ad" src="http://ads.us.e-planning.net/eb/3/4900/cab24103bd5e2b98?o=i&rnd=$RANDOM" border=0></a></noscript>
			<!--TENDENCIAS-->
			<noscript><a href="http://ads.us.e-planning.net/ei/3/4900/cd6baf407e819cba?it=i&rnd=$RANDOM" target="_blank"><img width="728" height="90"  alt="e-planning.net ad" src="http://ads.us.e-planning.net/eb/3/4900/cd6baf407e819cba?o=i&rnd=$RANDOM" border=0></a></noscript>
			<!--3Cuidadano-->
			<noscript><a href="http://ads.us.e-planning.net/ei/3/4900/1e916a2f2a07eeba?it=i&rnd=$RANDOM" target="_blank"><img width="728" height="90"  alt="e-planning.net ad" src="http://ads.us.e-planning.net/eb/3/4900/1e916a2f2a07eeba?o=i&rnd=$RANDOM" border=0></a></noscript>
			
			
		</div>
	   	<div id="topVideos" class="span-24">
	  		<object type="application/x-shockwave-flash" data="[:swf:]" width="954" height="358">
	        	<param name="wmode" value="transparent" />
                <param name="movie" value="[:swf:]" />
	    	</object>
	  	</div>
	</div>
[:endif:]
     <div id="contenido"><!--inicio de wrarp del contenido-->     
		<div class="container">            
            <div id="header" class="span-24"><!--HEADER-->
              <!--LOGO-->
              <div class="span-5"><a href="[:url:]" title="[:sitename:]" id="logo"></a></div>
              <!--FIN LOGO-->
              <div class="span-13">
                <div id="navbar">
                  <ul id="navbar_wrapper">
                    [:menu:]
                  </ul>
                </div>
             </div>
              <div class="span-6 last">
                <form class="search" action="index.php" method="get">
                  <input type="hidden" name="m" value="search" />
                  <!--[:T_SEARCH:]:-->
                  <input type="text"  name="search" onclick="  this.value=''" value="Buscar..." class="buscartop" style="height:14px"/>
                  <input type="image" src="../css/i/but-buscartop.gif" value="ir" />
                </form>
              </div>              
            </div><!--FIN HEADER-->          
          <div id="contents span-24">
           [:content:]
          </div>
        <!--PUBLICIDAD 900x200-->
            <div class="ad970x200">				
				<!-- e-planning v3 - Comienzo espacio latercera.com _ 3Tv Home _ 8 Banner -->
				<script type="text/javascript" language="JavaScript1.1">
				//<!--
				//var rnd = (new String(Math.random())).substring(2,8) + (((new Date()).getTime()) & 262143);
				//var cs = document.charset || document.characterSet;
				//document.write('<scri' + 'pt language="JavaScript1.1" type="text/javascript" src="http://ads.us.e-planning.net/eb/3/4900/cf571b833fa361e8?o=j&rnd=' + rnd + '&crs=' + cs + '"></scr' + 'ipt>');
				//-->
				</script>
				<noscript><a href="http://ads.us.e-planning.net/ei/3/4900/cf571b833fa361e8?it=i&rnd=$RANDOM" target="_blank"><img width="970" height="200"  alt="e-planning.net ad" src="http://ads.us.e-planning.net/eb/3/4900/cf571b833fa361e8?o=i&rnd=$RANDOM" border=0></a></noscript>
			<!-- e-planning v3 - Fin espacio latercera.com _ 3Tv Home _ 8 Banner -->
           </div>
    	 <!--FIN PUBLICIDAD 900x200-->  
            <div class="footer span-24">
                 	<div class="footNav span-22 prepend-1 append-1 last">
                       <ul>[:footer_menu:]</ul> 
                    </div>
                    <div class="span-4 prepend-1"><h3><a class="logof" href="http://www.latercera.com">La Tercera.com</a></h3></div> 
                    <div class="footNav2 span-17">
                       <ul>
                       		<li><a href="http://www.latercera.com/contacto.html">Contacto</a></li>
                            <li><a href="http://www.3md.cl">Publicidad</a></li>
                            <li><a href="http://suscripciones.latercera.cl/Suscripciones/paso_uno/otras/0,0,3255,00.html">Suscripciones</a></li>
                            <li><a href="http://www.clublatercera.cl">Beneficios</a></li>
                            <li><a href="http://www.latercera.com/terminosycondiciones.html">Terminos y condiciones de uso</a></li>
                            <li><a href="http://www.latercera.com/app/rss?sc=TEFURVJDRVJB&ul=1">RSS</a></li>
                      </ul> 
                       <p>Consorcio Period&iacute;stico de Chile S.A. Derechos reservados<br />
Se proh&iacute;be expresamente la reproducci&oacute;n o copia de los contenidos de este sitio sin el expreso consentimiento de Consorcio Period&iacute;stico de Chile S.A.</p>
                    </div>
            </div>
        </div>   
   </div><!--fin de wrarp del contenido-->  
   <div id="black_overlay"></div>
       <div id="popup">
            <div style="text-align:right">
                    <a href="javascript:void(0)" onclick="close_popup()" title="[:T_CLOSE:]">
                <img style="display:inline" src="images/close.png" alt="[:T_CLOSE:]" /></a>
             </div>
            <div id="popup_body"></div>
        </div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var COPESATracker = _gat._getTracker("UA-1861205-1");
	    COPESATracker._setDomainName("none");
	    COPESATracker._setAllowLinker(true);
	    COPESATracker._initData();
	    COPESATracker._trackPageview();
	</script>
	<div style="visibility: hidden;">
	<script language="JavaScript1.4" src="http://resource.latercera.cl/js/certifica-js14.js"></script>
	<script type="text/javascript" src="http://resource.latercera.cl/js/certifica.js"></script>
	<script type="text/javascript">
	<!--
	            var url=document.location.pathname;
	            tagCertifica(25564, '/home' + url);[:if showswf=="false":]
	            cert_registerPeriodicHit(26150, '/home' + url);[:endif:]
	-->
	</script>
	</div>
	</body>
</html>