<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
	<head>
		<title>latercera.com</title>
		<meta name="verify-v1" content="7L9IIsRCUKUDxj80xEIHA/cL079UGBgq6KnS0Atd+2U=">	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="La Tercera TV, Televisi&oacute;n, Goles, Tendencias, Estilo de Vida, Deportes, Sociedad, Cultura, Espectaculos, Internet, Ciencia, Tecnologia, Reportajes, Artes, [:keywords:]" />
		<meta name="description" content="[:description:]. Noticias en Video de Chile y el Mundo, La Tercera Televisi&oacute;n" />
		<title>3TV[:titleheader:]</title>
		<meta name="title" content="3TV[:titleheader:]" />
		<base href="[:url:]/" />
		<link rel="shortcut icon" href="[:url:]/favicon.ico?[:version:]"/> 
		<link rel="stylesheet" type="text/css" href="[:url:]/css/ltMatriz.css?[:version:]" media="screen" title="default"/>
		<link rel="stylesheet" type="text/css" href="[:url:]/css/ltComun.css?[:version:]" media="screen" title="default"/>
		<link rel="stylesheet" type="text/css" href="[:url:]/css/ltTv.css?[:version:]" media="screen" title="default"/> 

		<script type="text/javascript" src="[:url:]/js/framework/source/jquery.tools.min.js?[:version:]"></script>
		<script type="text/javascript" src="[:url:]/js/lib/source/jquery.capSlide.js?[:version:]"></script>
		<script type="text/javascript" src="[:url:]/api/source/functions.js?[:version:]"></script>
 		
 		<!--ADS -->
 		<script src="http://hit.copesa.cl/app/PixelJs?[:version:]" type="text/javascript" language="javascript"></script>
		<script type="text/javascript" language="javascript" charset="utf-8"> 
		//<![CDATA[
			var CM8Server = "mcl3.checkm8.com";
			var CM8Cat = "[:cm8cat:]";
			var CM8Profile=pixelProfile;
		//]]>
		</script>
		<script src="http://adserver.latercera.com/adam/cm8adam_1_call.js?[:version:]" type="text/javascript" language="javascript"></script>
		<script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'></script>
		<script type='text/javascript'>
		GS_googleAddAdSenseService("ca-pub-9694759232015294");
		GS_googleEnableAllServices();
		</script>
		<script type='text/javascript'>
		GA_googleAddSlot("ca-pub-9694759232015294", "[:googlechannel:]_300x250_a");
		GA_googleAddSlot("ca-pub-9694759232015294", "[:googlechannel:]_728x90");
		</script>
		<script type='text/javascript'>
		GA_googleFetchAds();
		</script>
		<!-- /ADS -->
		<script type="text/javascript">
			$(function() {
				$(".cap140x86").capslide({
					caption_color	: '#fff',
					caption_bgcolor	: '#000',
					border			: '1px solid #666',
					showcaption	    : true
				});
				
				$(".cap380x253").capslide({
					caption_color	: '#fff',
					caption_bgcolor	: '#000',
					border			: '1px solid #666',
					showcaption	    : true
				});
				
			});
		</script>
		
		<script type="text/javascript">
		//<![CDATA[
		function showSlidingDiv(){
		$("#comentarios").animate({"height": "toggle"}, { duration: 1000 });
		}
		//]]>
		</script>
		<link rel="alternate" type="application/rss+xml" title="[:sitename:] [:T_RSS_FEED:]" href="index.php?m=latestrss" />  
		<!--[if IE 6]>
		<script type="text/javascript" src="js/png.js"></script>
		<script>DD_belatedPNG.fix('.headerBg,#header h1 a');</script>
		<![endif]-->
		
		<!--[if lt IE 7]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
		<![endif]-->
	</head>
	<body>

	<!--<div>BARRA LT.COM</div>-->

    <div class="topAd"><!--publicidad superior-->
    	<div id="CM8ShowAd1" title="728x90" class="adCM8"></div>
    	<script type='text/javascript'>
			GA_googleFillSlot("[:googlechannel:]_728x90");
		</script>
		<div id="CM8ShowAd2" title="220x90" class="adCM8"></div>
    	<script type='text/javascript'>
			GA_googleFillSlot("[:googlechannel:]_220x90");
		</script>  
    </div><!--fin publicidad superior-->
	<div class="marco headerBg">
    	<div id="subnav">
            <ul class="nav">
                <li><a href="http://www.latercera.com"><img src="css/i/logoMcLt.gif" alt="La Tercera" /></a></li>
                <li><a href="http://www.latercera.com/canal/politica/674.html">Politica</a></li>
                <li><a href="http://www.latercera.com/canal/nacional/680.html">Nacional</a></li>
                <li><a href="http://www.latercera.com/canal/mundo/678.html">Mundo</a></li>
                <li><a href="http://www.latercera.com/canal/negocios/655.html">Negocios</a></li>
                <li><a href="http://www.latercera.com/canal/opinion/893.html">Opini&oacute;n</a></li>
                <li><a href="http://www.latercera.com/canal/santiago/1731.html">Santiago</a></li>
                <li><a href="http://www.latercera.com/canal/tendencias/659.html">Tendencias</a></li>
                <li><a href="http://www.latercera.com/canal/educacion/657.html">Educaci&oacute;n</a></li>
                <li><a href="http://www.latercera.com/canal/cultura/1453.html">Cultura</a></li>
                <li><a href="http://www.latercera.com/canal/entretencion/661.html">Entretenci&oacute;n</a></li>
                <li><a href="http://www.latercera.com/canal/deportes/656.html">Deportes</a></li>
                <li><a href="http://www.latercera.com/canal/latercera-tv/1744.html">LaTercera TV</a></li>
            </ul>
        </div><!--FIN SUB MENU DIARIO-->
    
    	<div class="pageltTv">
        	<div id="header" class="span-24">
            	<div id="corporativo">
                	<h1><a href="[:url:]" title="La Tercera TV">La Tercera TV</a></h1>
              	</div>
                <ul class="nav">
                	[:menu:]
                </ul>
                <div id="buscador">
                <form method="get" action="index.php" class="search">
                  <input type="hidden" value="search" name="m">
                  <input type="text" class="buscarText" value="Buscar..." onclick="  this.value=''" name="search">
                  <input type="image" class="buscarIr" value="ir" src="css/i/butBuscar.gif">
                </form>
                </div>
            </div>
	    </div><!--FIN HEADER-->
	    <div class="pageltTv">
	    	<div id="contenido" class="span-24">
			[:content:]
			</div>
		</div>
		<div class="footer oscuro"><!--Ocupar clases "claro" y "oscuro" dependiendo si se quiere un BG FOOTER para paginas claras u oscuras.-->
		  <div class="pageFooter">
		    <div class="boxFooter">
		      <h5 class="oscuro">La Tercera</h5><!--Ocupar clases "claro" y "oscuro" dependiendo si se quiere un LOGO DE FOOTER para paginas claras u oscuras.-->
		        <div class="colFooter">
		          <h6>MEDIOS</h6>
		          <ul>
		            <li><a href="http://www.latercera.com">La Tercera</a></li>
		            <li><a href="http://www.lahora.cl">La Hora</a></li>
		            <li><a href="http://www.lacuarta.com">La Cuarta</a></li>
		            <li><a href="http://www.quepasa.cl">Qu&eacute; Pasa</a></li>
		            <li><a href="http://www.paula.cl">Paula</a></li>
		            <li><a href="http://mujer.latercera.com">Mujer</a></li>
		            <li><a href="http://masdecoracion.latercera.com">MasDeco</a></li>
		            <li><a href="http://www.mouse.cl">Mouse</a></li>
		            <li><a href="http://www.icarito.cl">Icarito</a></li>
		            <li><a href="http://www.diarioconcepcion.cl">Diario Concepci&oacute;n</a></li>
		            <li><a href="http://www.ciperchile.cl">Ciper</a></li>
		          </ul>
		        </div>
		        <div class="colFooter">
		        <h6>PORTALES</h6>
		          <ul>
		            <li><a href="http://www.grupocopesa.cl">Grupo Copesa</a></li>
		            <li><a href="http://www.clublatercera.cl">Club latercera</a></li>
		            <li><a href="http://www.laborum.com">Laborum</a></li>
		            <li><a href="http://www.zoominmobiliario.cl">Zoom Inmobiliario</a></li>
		            <li><a href="http://www.seminarium.com">Seminarium</a></li>
		            <li><a href="http://www.latercera.com/viajes/">Viajes</a></li>
		            <li><a href="http://www.copesaeditorial.cl">Unlimited</a></li>
		          </ul>
		        </div>
		        <div class="colFooter">
		          <h6>GRUPO DIAL</h6>
		          <ul>
		            <li><a href="http://www.duna.cl">Duna</a></li>
		            <li><a href="http://www.radiozero.cl/">Zero</a></li>
		            <li><a href="http://www.carolina.cl">Carolina</a></li>
		            <li><a href="http://www.beethovenfm.cl/">Beethoven</a></li>
		            <li><a href="http://www.paulafm.cl">Paula FM</a></li>
		            <li><a href="http://www.radiodisney.cl">Radio Disney</a></li>
		          </ul>
		        </div>
		        <div class="colFooter2">
		          <h6>MOVILES</h6>
		          <ul>
		            <li><a href="http://iphone.latercera.com">iPhone</a></li>
		            <li><a href="http://ipad.latercera.com">iPad</a></li>
		            <li><a href="http://m.latercera.com">Mobile</a></li>
		            <li><a href="http://m.latercera.com/bb">BlackBerry</a></li>
		            <li><a href="http://m.latercera.com/android">Android</a></li>
		          </ul>
		          <h6>CONTACTO</h6>
		          <ul>
		            <li><a href="http://www.latercera.com/servicios/contacto.html">Contacto</a></li>
		            <li><a href="http://stc.laborum.cl/copesa/index.html">Trabajo</a></li>
		            <li><a href="http://www.latercera.com/suscripciones/index.html">Suscripciones</a></li>
		            <li><a href="http://www.latercera.com/servicios/terminos.html">T&eacute;rminos y Condiciones</a></li>
		          </ul>
		        </div>
		        <p class="pie">Se proh&iacute;be expresamente la reproducci&oacute;n o copia de los contenidos de este sitio sin el expreso consentimiento del Grupo Copesa</p>
		      </div>
		    </div>
		    <ul class="boxFooterBlack">
		      <li class="rotulo">SIGUENOS TAMBIEN EN:</li>
		      <li class="icFb"><a href="http://www.facebook.com/laterceracom" target="_blank">Facebook</a></li>
		      <li class="icTw"><a href="http://www.twitter.com/laterceracom" target="_blank">Twitter</a></li>
		    </ul>
		</div>
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var COPESATracker = _gat._getTracker("UA-1861205-1");
			COPESATracker._setDomainName("none");
			COPESATracker._setAllowLinker(true);
			COPESATracker._initData();
			COPESATracker._trackPageview();
			var pageTracker = COPESATracker;
		</script>
		<div style="visibility: hidden;">
			<img src="/images/dot.gif" name="cert_Pivot" id="cert_Pivot" width="1" height="1" alt="" style="display:none;" /> 
		    <script language="JavaScript1.4" src="http://resource.latercera.cl/js/certifica-js14.js"></script>
			<script type="text/javascript" src="/js/certifica_20100324.js"></script>
			<script type="text/javascript">
				var m = cert_qVal('m');
				var c = cert_qVal('c');
				
				var texto = '';
				if (!m){
					texto='/home/portada';
				} else {
					if(m=='video'){
						cert_registerPeriodicHit(202172, 'home/video/canal/[:channel:]');
						m='video/canal'; 
						c='[:channel:]';
						texto = '/home/' + m + '/' + c;
				    }else texto = '/home/' + m + '/' + c;
				}
				tagCertifica(106340, texto);
			</script>
		</div>
	<script src="http://adserver.latercera.com/adam/cm8adam_1_bottom.js" type="text/javascript" language="javascript"></script> 
	</body>
</html>