<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">



<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">



   <head> 



   	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

   	  <meta name="keywords" content="video,clip,[:keywords:]" />

   	  <meta name="description" content="[:description:]" />

      <title>LA TERCERA.com / Videos</title>

      <base href="[:url:]/" />

     

      <link href="http://videocms.lab.codisa.cl/css/master.css" rel="stylesheet" type="text/css" />

      <script type="text/javascript">var baseurl="[:url:]/";</script>

	  <script type="text/javascript" src="ajax.js"></script>

	  <script type="text/javascript" src="functions.js"></script>

	  <script type="text/javascript" src="colorpicker.js"></script>	  

	  <link rel="alternate" type="application/rss+xml" title="[:sitename:] [:T_RSS_FEED:]" href="index.php?m=latestrss" />   

   </head>

   <body class="bgHome">

   <!--Al hace llamado a la funcin solo tienes que idicar el nombre del DIV entre parentesis -->   

   	<div id="navlt">

    	   

        <!--BARRA DE NAVEGACION LA TERCERA.COM-->

      <div id="topNav">

           

        <h1>La Tercera.com</h1>

            

        <ul class="menult">

            <li><a href="#">NOTICIAS</a></li>

            <li><a href="#">NEGOCIOS</a></li>

            <li><a href="#">DEPORTES</a></li>

            <li><a href="#">EDUCACI&Oacute;N</a></li>

            <li><a href="#">OPINION Y BLOGS</a></li>

            <li><a href="#">TECNOLOGIA Y CIENCIA</a></li>

            <li><a href="#">ESTILO Y VIDA</a></li>

            <li><a href="#">CULTURA Y ENTRETENCI&Oacute;N</a></li>

            <li><a href="#">3TV</a></li>

            <li><a href="#">CIUDADANO 3.0</a></li>

        </ul>

      </div>

           <!--FIN BARRA DE NAVEGACION LA TERCERA.COM-->

    </div>

    	

    

	   <div id="topcarrusel">

              

       	<div class="topadhome"> banner 950 x 60</div>

       

	   	<div id="topVideos" class="span-24">

	  		<object type="application/x-shockwave-flash" data="http://videocms.lab.codisa.cl/topvideos/topvideos.swf" width="954" height="358">

	        	<param name="wmode" value="transparent" />

	            <param name="movie" value="http://videocms.lab.codisa.cl/topvideos/topvideos.swf" />

	    	</object>

	  	</div>

	  </div>

	  <script language="JavaScript">

		var url='[:url:]'+'/';

		if(document.URL == url){

			//alert(document.URL);

			div = document.getElementById('topcarrusel');

			div.style.display = 'block';

		}

	  </script>

     <div id="contenido"><!--inicio de wrarp del contenido-->     

		<div class="container">            

            <div id="header" class="span-24"><!--HEADER-->

              <!--LOGO-->

              <div class="span-5"><a href="[:url:]" title="[:sitename:]" id="logo"></a></div>

              <!--FIN LOGO-->

              <div class="span-13">

                <div id="navbar">

                  <ul id="navbar_wrapper">

                    [:menu:]

                  </ul>

                  <!--<div class="line">

                                <ul>

                                [:submenu:]

                                <li></li>

                                </ul>

                   </div>-->

                </div>

              </div>

              <div class="span-6 last">

                            

                <form class="search" action="index.php" method="get">

                  <input type="hidden" name="m" value="search" />

                  <!--[:T_SEARCH:]:-->

                  <input type="text"  name="search" onclick="  this.value=''" value="Buscar..." class="buscartop"/>

                  <input type="image" src="../css/i/but-buscartop.gif" value="ir" />

                </form>

              </div>              

            </div><!--FIN HEADER-->            

            

          <div class="span-24 p10tb clear" id="publicidad">          

          	<div class="span-18"><img src="http://videocms.lab.codisa.cl//images/fake/728x90-ad.gif" alt="Banner Publicitario" /></div>

            <div class="span-6 last"><img src="http://videocms.lab.codisa.cl/images/fake/220x90-ad.gif" alt="Banner Publicitario" /></div>          

          </div>

		  

<!--	<script language="JavaScript">

			var url='[:url:]'+'/';

			if(document.URL != url){

				document.write("<div class='span-24 p10tb clear' id='publicidad'><div class='span-18'><img src='../images/fake/ad-grande.gif' alt='Banner Publicitario' /></div><div class='span-6 last'><img src='../images/fake/ad-pequena.gif' alt='Banner Publicitario' /></div></div>");

			}

		</script>-->

            

          <div id="contents span-24">

                <div class="span-16">

                

                <div class="heading"><h2>Videos destacados</h2></div>



                

                <div class="box1">   

           

			

            

            <!--DESCRIPCION DEL VIDEO-->

			  <div class="span-4 ">

			      <div class="thumb">

				  <div class="categoriaTh"><h5>motores</h5></div>

					  <a href="#" title="Video"><img id="" src="http://videocms.lab.codisa.cl/thumbnails/783bbce7493522.jpg" alt="imagen" border="0" height="102" width="136"/></a>

				  </div>

				  <h3><a class="" href="#">Nombre del video</a></h3>

				  					  

				  <p>12.32</p>

			      <img alt="Video" src="http://videocms.lab.codisa.cl/images/stars-0.gif" />

				  <p>Viernes 12</p>

				  <!--<span class="small"><b>[:T_VIEWS:]:</b> [:hits:]</span>&nbsp;-->

				  <p><a href="#">PLAY</a></p>

			  	</div>

                

                <div class="span-4 ">

			      <div class="thumb">

				  <div class="categoriaTh"><h5>motores</h5></div>

					  <a href="#" title="Video"><img id="" src="http://videocms.lab.codisa.cl/thumbnails/783bbce7493522.jpg" alt="imagen" border="0" height="102" width="136"/></a>

				  </div>

				  <h3><a class="" href="#">Nombre del video mas largo dos</a></h3>

				  					  

				  <p>12.32</p>

			      <img alt="Video" src="http://videocms.lab.codisa.cl/images/stars-0.gif" />

				  <p>Viernes 12</p>

				  <!--<span class="small"><b>[:T_VIEWS:]:</b> [:hits:]</span>&nbsp;-->

				  <p><a href="#">PLAY</a></p>

			  	</div>

                

                <div class="span-4 ">

			      <div class="thumb">

				  <div class="categoriaTh"><h5>motores</h5></div>

					  <a href="#" title="Video"><img id="" src="http://videocms.lab.codisa.cl/thumbnails/783bbce7493522.jpg" alt="imagen" border="0" height="102" width="136"/></a>

				  </div>

				  <h3><a class="" href="#">Nombre del video</a></h3>

				  					  

				  <p>12.32</p>

			      <img alt="Video" src="http://videocms.lab.codisa.cl/images/stars-0.gif" />

				  <p>Viernes 12</p>

				  <!--<span class="small"><b>[:T_VIEWS:]:</b> [:hits:]</span>&nbsp;-->

				  <p><a href="#">PLAY</a></p>

			  	</div>

                

                <div class="span-4 last">

			      <div class="thumb">

				  <div class="categoriaTh"><h5>motores</h5></div>

					  <a href="#" title="Video"><img id="" src="http://videocms.lab.codisa.cl/thumbnails/783bbce7493522.jpg" alt="imagen" border="0" height="102" width="136"/></a>

				  </div>

				  <h3><a class="" href="#">Nombre del video muchicimo mas largo</a></h3>

				  					  

				  <p>12.32</p>

			      <img alt="Video" src="http://videocms.lab.codisa.cl/images/stars-0.gif" />

				  <p>Viernes 12</p>

				  <!--<span class="small"><b>[:T_VIEWS:]:</b> [:hits:]</span>&nbsp;-->

				  <p><a href="#">PLAY</a></p>

			  	</div>

			  	<!--<div class="brclear"></div>-->

			  </div>

                

                 <div class="box1">   

           

			

            

            <!--DESCRIPCION DEL VIDEO-->

			  <div class="span-4 ">

			      <div class="thumb">

				  <div class="categoriaTh"><h5>motores</h5></div>

					  <a href="#" title="Video"><img id="" src="http://videocms.lab.codisa.cl/thumbnails/783bbce7493522.jpg" alt="imagen" border="0" height="102" width="136"/></a>

				  </div>

				  <h3><a class="" href="#">Nombre del video un poco mas largo</a></h3>

				  					  

				  <p>12.32</p>

			      <img alt="Video" src="http://videocms.lab.codisa.cl/images/stars-0.gif" />

				  <p>Viernes 12</p>

				  <!--<span class="small"><b>[:T_VIEWS:]:</b> [:hits:]</span>&nbsp;-->

				  <p><a href="#">PLAY</a></p>

			  	</div>

                

                <div class="span-4 ">

			      <div class="thumb">

				  <div class="categoriaTh"><h5>motores</h5></div>

					  <a href="#" title="Video"><img id="" src="http://videocms.lab.codisa.cl/thumbnails/783bbce7493522.jpg" alt="imagen" border="0" height="102" width="136"/></a>

				  </div>

				  <h3><a class="" href="#">Nombre del video</a></h3>

				  					  

				  <p>12.32</p>

			      <img alt="Video" src="http://videocms.lab.codisa.cl/images/stars-0.gif" />

				  <p>Viernes 12</p>

				  <!--<span class="small"><b>[:T_VIEWS:]:</b> [:hits:]</span>&nbsp;-->

				  <p><a href="#">PLAY</a></p>

			  	</div>

                

                <div class="span-4 ">

			      <div class="thumb">

				  <div class="categoriaTh"><h5>motores</h5></div>

					  <a href="#" title="Video"><img id="" src="http://videocms.lab.codisa.cl/thumbnails/783bbce7493522.jpg" alt="imagen" border="0" height="102" width="136"/></a>

				  </div>

				  <h3><a class="" href="#">Nombre del video</a></h3>

				  					  

				  <p>12.32</p>

			      <img alt="Video" src="http://videocms.lab.codisa.cl/images/stars-0.gif" />

				  <p>Viernes 12</p>

				  <!--<span class="small"><b>[:T_VIEWS:]:</b> [:hits:]</span>&nbsp;-->

				  <p><a href="#">PLAY</a></p>

			  	</div>

                

                <div class="span-4 last">

			      <div class="thumb">

				  <div class="categoriaTh"><h5>motores</h5></div>

					  <a href="#" title="Video"><img id="" src="http://videocms.lab.codisa.cl/thumbnails/783bbce7493522.jpg" alt="imagen" border="0" height="102" width="136"/></a>

				  </div>

				  <h3><a class="" href="#">Nombre del video</a></h3>

				  					  

				  <p>12.32</p>

			      <img alt="Video" src="http://videocms.lab.codisa.cl/images/stars-0.gif" />

				  <p>Viernes 12</p>

				  <!--<span class="small"><b>[:T_VIEWS:]:</b> [:hits:]</span>&nbsp;-->

				  <p><a href="#">PLAY</a></p>

			  	</div>

			  	<!--<div class="brclear"></div>-->

			  </div>

                

                

                </div>

                

                <div class="span-8 last">

                	<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

<p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>



                </div>		

          </div>

          

          <!--PUBLICIDAD 900x200-->   

              <div class="ad970x200">

                <img src="../images/fake/970x200-ad.gif">

              </div>

      	 <!--FIN PUBLICIDAD 900x200-->  

         

            <div class="footer span-24">

            	

            	<div class="span-5"><h3><a class="logof" href="#">La Tercera.com</a></h3></div>                

                <div class="span-18">

                	<div class="footNav span-17">

                       <ul>[:footer_menu:]</ul> 

                    </div>

                    

                    <div class="footNav2 span-17">

                       <ul>

                       		<li><a href="#">Contacto</a></li>

                            <li><a href="#">Publicidad</a></li>

                            <li><a href="#">Suscripciones</a></li>

                            <li><a href="#">Beneficios</a></li>

                            <li><a href="#">Suscriptores</a></li>

                            <li><a href="#">Terminos y condiciones de uso</a></li>

                            <li><a href="#">RSS</a></li>

                       </ul> 

                       

                       <p>Consorcio Periodístico de Chile S.A. Derechos reservados<br />

Se prohíbe expresamente la reproducción o copia de los contenidos de este sitio sin el expreso consentimiento de Consorcio Periodístico de Chile S.A.</p>

                       

                    </div>

                </div>

                

            </div>

        </div>   

        

            

   </div><!--fin de wrarp del contenido-->  

      

      

   <div id="black_overlay"></div>

        <div id="popup">

        

            <div style="text-align:right">

                    <a href="javascript:void(0)" onclick="close_popup()" title="[:T_CLOSE:]">

                <img style="display:inline" src="images/close.png" alt="[:T_CLOSE:]" /></a>

             </div>

             

            <div id="popup_body"></div>

        </div>

        

 	

</body>

</html>