		<div class="[:if trigger=="1":]color1[:else:]color2[:endif:]">
			<div class="thumb" style="margin-right:5px; float:left;">
				<a href="[:videourl:]"><img src="[:thumb:]" alt="[:title:] [:T_VIDEO:]" height="90" width="132"/></a>
			</div>
			<div class="descRel">
				<p><a href="[:videourl:]" title="[:title:]">[:short_title:]</a></p>
                <h5>[:duration:]</h5>
				<img alt="[:title:] [:T_RATINGS:]" src="images/stars-[:rate:].gif" /><br />
				<h6>[:T_ADDED:]: [:time:]</h6>
				<h6>[:T_VIEWS:]: [:hits:]</h6>
				<!-- <span class="small">[:T_FROM:]: <a id="author_[:id:]" href="index.php?m=channel&amp;channel=[:url_username:]" onclick="this.href='javascript:void(0)'; popup('index.php?m=channelpreview&amp;channel=[:url_username:]')">[:username:]</a></span><br /> -->
				<script type="text/javascript"></script>
			</div>
			<div class="brclear"></div>
		</div>