<div class="heading"><h2>[:T_TAF:]</h2></div>
<div class="box" id="taf_box">
	<form action="index.php?m=tafsend" method="post">
		<fieldset>				
			<label for="email">[:T_EMAIL:]</label>
			<p><input id="email" type="text" name="email" style="width:200px" /></p>

			<!-- Duplicate the following lines and increase the 'friend1' number to add more friend emails (up to 5) -->
			<label for="friend1">[:T_FRIEND_EMAIL:]</label>
			<p><input id="friend1" type="text" name="emails[]" style="width:200px" /></p>
			<!-- End of friend email -->
			
			<label for="message">[:T_MESSAGE:]</label>
			<p><textarea id="message" name="message" cols="10" rows="15" style="width:200px; height: 100px" >[:message:]</textarea></p>
			
			<p>
			<input type="submit" value="[:T_SEND:]" onclick="taf(this.form); return false;" />
			</p>
		</fieldset>
	</form>
</div>