<h1>About Video CMS 2.0</h1>
<p>
Online videos are getting popular every day. It's becoming a new medium of information exchange. Whether it's a video blog, video tutorials, funny clips or home made videos. A great success of companies like YouTube, set the path for this new Internet trend.
</p>
<p>
<b>Video CMS </b> gives you the opportunity to become a part of this trend. Whether you want to create your video blog, put your home videos online or create an online video sharing community, Video CMS is a tool for it all.
</p>
<p>
The features include:
<ul>
<li>Video categories - organize your online videos to categories</li>
<li>Video tag system - tags set to videos make video organizing and searching easy</li>
<li>Video channels - every member uploaded video is assigned to a channel. Members can customize their channel pages.</li>
<li>Video subscriptions - members can subscribe to channels and video tags</li>
<li>Member playlists - members can build the playlists of their favorite videos</li>
<li>Favorite member videos - members can mark videos as favorites and easy access them any time</li>
<li>Commenting and rating videos</li>
<li>Uploading videos - a flash uploader used to handle file uploads is easy and convinient to upload large files</li>
<li>Automatic video conversion using ffmpeg - if you have ffmpeg installed, you can have the videos automatically converted to Flash Video format</li>
<li>FLV player - Flash Video player to play automatically converted videos or uploaded FLV videos. It also has an integrated similar video browser to keep your visitors busy even after the video stops playing</li>
<li>Flexible template engine makes the site customization as easy as possible</li>
<li>Customizable user interface lets you enable/disable certain features with a single click.</li>
<li>Easy to use, Ajax based administration panel enables you to manage the site easier than ever before.</li>
</ul>
</p>
<p>
And that's just a tiny bit of what Video CMS has to offer.
</p>
<p>
Requirements:
<ul>
<li>Apache 2.x  or equivalent web server</li>
<li>PHP 4.3.9  with GD Library</li>
<li>MySQL 4.1.12 </li>
<li>ffmpeg (optional)</li>
</ul>
</p>
<p>
Buy Video CMS now for only $199 and get a free <b>6 month</b> support and <b>free updates.</b>
</p>

[:video:]