[:if is_first=="1":]
<div class="span-12 last">
[:endif:]
   	<div class="span-4" [:if is_last="1":]style="margin-right: 0pt;"[:endif:]>
       	<div class="cap140x86 ic_container">
	        <a href="/index.php?m=video&v=[:id:]" title="[:title:]">
	        	<img src="[:thumb:]" width="138" height="88" alt=""/>
	        </a>	
	        <div class="ic_caption">
	            <a href="/index.php?m=video&v=[:id:]" class="verVideo">Ver video</a>
	            <p class="ic_text">
	               Duracion: [:duration:] min<br />
	               Visitas: [:hits:]
	            </p>
	        </div>
		</div>
		<h4><a href="/index.php?m=video&v=[:id:]" title="[:title:]">[:title:]</a></h4>
   	</div>
[:if is_last=="1":]
</div>
[:endif:]