<h6 class="rotulo">[:if ver_mas=="1":]<a href="[:url:]">[:endif:][:categories_title:][:aux_title:][:if ver_mas=="1":]</a>[:endif:]</h6>
<div class="center">
	<div class="span-10">
    	<div class="cap380x253 ic_container">
    		<a href="/index.php?m=video&v=[:id:]" title="[:title:]">
            	<img src="[:frame:]" width="378" height="251" alt="[:title:]"/>
            </a>	
            <div class="ic_caption">
                <a href="index.php?m=video&amp;v=[:id:]" class="verVideo">Ver video</a>
                <p class="ic_text">
                   Duraci&oacute;n: [:duration:] mins. / Visitas: [:hits:]
                </p>
            </div>
        </div>
        <h3><a href="/index.php?m=video&v=[:id:]" title="[:title:]">[:title:]</a></h3>
    </div>
    [:list:]
</div>    
