<div class="left" style="width: 150px; margin-right: 10px">
	<h4>[:username:]</h4>
	<p><img width="120" height="90" src="[:thumb:]" /></p>
	<p><a href="index.php?m=users.newmessage.usercp&amp;to=[:url_username:]" title="[:T_PM:]"><img class="inline" src="images/pm.png" width="16" height="16" alt="[:T_PM:]" /> [:T_PM:]</a></p>
	<p><a href="index.php?m=users.invite.usercp&type=1&amp;username=[:url_username:]" title="[:T_INVITE_FRIENDS:]"><img class="inline" src="images/pm.png" width="16" height="16" alt="[:T_INVITE_FRIENDS:]" /> [:T_INVITE_FRIENDS:]</a></p>
	<p><a href="[:allurl:]"><b>&raquo; [:T_VIEWALL:]</b></a></p>
</div>
<div class="left" style="width: 300px">
	<h3>[:T_LATEST_VIDEOS:]</h3>
	<br /><br />
	[:videos:]
</div>
<div class="breclear"></div>