<tr class="inbox_message">
	<td>
		<a href="index.php?m=discussion&amp;d=[:id:]" >[:topic:]</a>
		[:if owner=="true":]
		<a href="index.php?m=users.editdiscussion&amp;d=[:id:]" onclick="this.href='javascript:void(0)';popup('index.php?m=users.editdiscussion&amp;d=[:id:]&ajax')" title="[:T_EDIT_DISCUSSION:]"><img alt="[:T_EDIT_DISCUSSION:]" src="images/page_edit.png" width="16" height="16" /></a>
		<a href="index.php?m=users.deletediscussion&amp;d=[:id:]&amp;g=[:group:]" onclick="this.href='javascript:void(0)';if(confirm('[:M_REMOVE_DISCUSSION:]'))location.href='index.php?m=users.deletediscussion&amp;d=[:id:]&amp;g=[:group:]';" alt="[:T_REMOVE_DISCUSSION:]"><img alt="[:T_REMOVE_DISCUSSION:]" width="16" height="16" src="images/cross.gif" /></a>
		[:endif:]
		[:if locked=="true":]
		<img alt="[:T_LOCKED:]" width="16" height="16" src="images/lock.png" />
		[:endif:]
	</td>
	<td>
		<a href="index.php?m=discussion&amp;d=[:id:]" >[:username:]</a>
	</td>
	<td>
		<a href="index.php?m=discussion&amp;d=[:id:]" >[:posts:]</a>
	</td>
	<td>
		<a href="index.php?m=discussion&amp;d=[:id:]" >[:lastpost:]</a>
	</td>
</tr>