		<div class="[:if trigger=="1":]color1[:else:]color2[:endif:]">
			<div class="left" style="margin-right:10px">
				<input type="checkbox" name="v[]" value="[:id:]" />
				<div class="thumb">
					<a href="[:videourl:]" title="[:title:]"><img src="[:thumb:]" alt="[:title:] [:T_VIDEO:]" border="0"/></a>
				</div>
			</div>
			<div class="left" style="width:74%">
				<h3><a href="[:videourl:]">[:title:]</a> [:if private=="1":]<span class="small">([:T_PRIVATE:])</span>[:endif:]</h3><span class="small"><b>[:duration:]</b></span><br />
				<img alt="[:title:] ratings" src="images/stars-[:rate:].gif" /><br />
				<div id="desc_[:id:]">
					[:description:]
					<script type="text/javascript">
						show_partial("[:description:]",150,"desc_[:id:]");
					</script>
				</div><br />
				<span class="small"><b>[:T_TAGS:]:</b> [:tags:]</span><br />
				<span class="small"><b>[:T_ADDED:]:</b> [:time:]</span>&nbsp;
				<span class="small"><b>[:T_VIEWS:]:</b> [:hits:]</span>&nbsp;
				<!--<span class="small"><b>[:T_FROM:]:</b> <a href="index.php?m=channel&amp;channel=[:url_username:]" onclick="this.href='javascript:void(0)'; popup('index.php?m=channelpreview&amp;channel=[:url_username:]')">[:username:]</a></span><br /> -->
			</div>
			<div style="text-align:right">
			[:if owner=="true":]
				<a href="index.php?m=edit_video&amp;v=[:id:]" onclick="this.href='javascript:void(0)'; popup('index.php?m=edit_video&amp;v=[:id:]&amp;ajax')" title="[:T_EDIT_VIDEO:]"><img alt="[:T_EDIT_VIDEO:]" src="images/page_edit.png" /></a>
				<a href="index.php?m=users.addtovlog&amp;v=[:id:]" title="[:T_ADD_TO_VLOG:]"><img alt="[:T_ADD_TO_VLOG:]" src="images/tv_add.png"  /></a>
				<a href="index.php?m=setprivate&v=[:id:]" title="[:T_SETPRIVATE:]"><img alt="[:T_SETPRIVATE:]" src="images/key.png"  /></a>
			[:endif:]
			[:if addto=="group":]
			 	<a href="index.php?m=users.addtogroup&amp;v=[:id:]&amp;group=[:group:]" title="[:T_ADD_TO_GROUP:]"><img alt="[:T_ADD_TO_GROUP:]" src="images/page_add.png"  /></a>
			[:endif:]
			</div>
			<div class="brclear"></div>
		</div>