<div class="heading"><h2>[:T_EDIT_LAYOUT:]</h2></div>
<div class="box">
	<div class="left" style="width:400px">
		<form action="index.php?m=users.savelayout" method="post">
			<p class="error">[:error:]</p>
			<fieldset style="float:left;width:150px">
				
				<label for="channel_featured_video">[:T_FEATURED_VIDEO:]</label>
				<p>
					<input value="1" type="checkbox" id="channel_featured_video" name="channel_featured_video" [:channel_featured_video:] onchange="update_preview_boxes('featured_video'); this.form.featured.disabled=!this.checked" />
					[:T_SHOW:]<br /><br />
					<select id="featured" name="featured" [:if channel_featured_video=="":]disabled="disabled"[:endif:] style="width: 100px">
						<option value="0">* [:T_LATEST:] *</option>
						[:videos:]
					</select> 
				</p>
				
				<label for="channel_vlog">[:T_VLOG:]</label>
				<p><input value="1" type="checkbox" id="channel_vlog" name="channel_vlog" [:channel_vlog:] onchange="update_preview_boxes('vlog')" /> [:T_SHOW:] <input type="text" id="channel_vlog_limit" name="channel_vlog_limit" onkeyup="update_preview_thumbs('vlog')" style="width:30px" value="[:channel_vlog_limit:]" /></p>
				
				<label for="channel_featured_videos">[:T_FEATURED:]</label>
				<p><input value="1" type="checkbox" id="channel_featured_videos" name="channel_featured_videos" [:channel_featured_videos:] onchange="update_preview_boxes('featured_videos')" /> [:T_SHOW:] <input type="text" id="channel_featured_videos_limit" name="channel_featured_videos_limit" onkeyup="update_preview_thumbs('featured_videos')" style="width:30px" value="[:channel_featured_videos_limit:]" /></p>
				
				<label for="channel_latest_videos">[:T_LATEST:] [:T_VIDEOS:]</label>
				<p><input value="1" type="checkbox" id="channel_latest_videos" name="channel_latest_videos" [:channel_latest_videos:] onchange="update_preview_boxes('latest_videos')" /> [:T_SHOW:] <input type="text" id="channel_latest_videos_limit" name="channel_latest_videos_limit" onkeyup="update_preview_thumbs('latest_videos')" style="width:30px" value="[:channel_latest_videos_limit:]" /></p>
		
				<label for="channel_favorites">[:T_FAVORITES:]</label>
				<p><input value="1" type="checkbox" id="channel_favorites" name="channel_favorites" [:channel_favorites:] onchange="update_preview_boxes('favorites')" /> [:T_SHOW:] <input type="text" id="channel_favorites_limit" name="channel_favorites_limit" onkeyup="update_preview_thumbs('favorites')" style="width:30px" value="[:channel_favorites_limit:]" /></p>
				
				<label for="channel_subscriptions">[:T_SUBSCRIPTIONS:]</label>
				<p><input value="1" type="checkbox" id="channel_subscriptions" name="channel_subscriptions" [:channel_subscriptions:] onchange="update_preview_boxes('subscriptions')" /> [:T_SHOW:] <input type="text" id="channel_subscriptions_limit" name="channel_subscriptions_limit" onkeyup="update_preview_thumbs('subscriptions')" style="width:30px" value="[:channel_subscriptions_limit:]" /></p>
				
				<label for="channel_subscribers">[:T_SUBSCRIBERS:]</label>
				<p><input value="1" type="checkbox" id="channel_subscribers" name="channel_subscribers" [:channel_subscribers:] onchange="update_preview_boxes('subscribers')" /> [:T_SHOW:] <input type="text" id="channel_subscribers_limit" name="channel_subscribers_limit" onkeyup="update_preview_thumbs('subscribers')" style="width:30px" value="[:channel_subscribers_limit:]" /></p>
				
				<label for="channel_friends">[:T_FRIENDS:]</label>
				<p><input value="1" type="checkbox" id="channel_friends" name="channel_friends" [:channel_friends:] onchange="update_preview_boxes('friends')" /> [:T_SHOW:] <input type="text" id="channel_friends_limit" name="channel_friends_limit" onkeyup="update_preview_thumbs('friends')" style="width:30px" value="[:channel_friends_limit:]" /></p>
				
				<label for="channel_comments">[:T_COMMENTS:]</label>
				<p><input value="1" type="checkbox" id="channel_comments" name="channel_comments" [:channel_comments:] onchange="update_preview_boxes('comments')" /> [:T_SHOW:] <input type="text" id="channel_comments_limit" name="channel_comments_limit" onkeyup="update_preview_comments('comments')" style="width:30px" value="[:channel_comments_limit:]" /></p>
			
				<label for="channel_tags">[:T_TAGS:]</label>
				<p><input value="1" type="checkbox" id="channel_tags" name="channel_tags" [:channel_tags:] onchange="update_preview_boxes('tags')" /> [:T_SHOW:] <input type="text" id="channel_tags_limit" name="channel_tags_limit" style="width:30px" value="[:channel_tags_limit:]" /></p>
			
			</fieldset>
			<fieldset style="float:left;width:200px">
				<label for="theme">[:T_THEME:]</label>
				<p>[:M_THEME:]</p>
				<p>
					<select id="theme" name="theme" onchange="update_preview_theme(this.options[this.selectedIndex].value)" style="width: 100px">
						<option value="0">[:T_CUSTOM_THEME:]</option>
						[:themes:]
					</select>
				</p>
				
				<br />
				<p><b>[:T_CUSTOMIZE_THEME:]</b></p>
				
				<label for="custom_bg_color">[:T_BG_COLOR:]</label>
				<p>
					<input type="text" id="custom_bg_color" onkeyup="update_preview_theme(0)" name="custom_bg_color" style="width:100px;background:[:custom_bg_color:]" value="[:custom_bg_color:]" />
					<br />(<span style="cursor:pointer;text-decoration:underline" onclick="Pick('custom_bg_color')">Pick color</span>)
				</p>
				
				<label for="custom_border_color">[:T_BORDER_COLOR:]</label>
				<p>
					<input type="text" id="custom_border_color" onkeyup="update_preview_theme(0)" name="custom_border_color" style="width:100px;background:[:custom_border_color:]" value="[:custom_border_color:]" />
					<br />(<span style="cursor:pointer;text-decoration:underline" onclick="Pick('custom_border_color')">Pick color</span>)
				</p>
				
				<label for="custom_text_color">[:T_TEXT_COLOR:]</label>
				<p>
					<input type="text" id="custom_text_color" onkeyup="update_preview_theme(0)" name="custom_text_color" style="width:100px;background:[:custom_text_color:]" value="[:custom_text_color:]" />
					<br />(<span style="cursor:pointer;text-decoration:underline" onclick="Pick('custom_text_color')">Pick color</span>)
				</p>
				
				<label for="custom_box_color">[:T_BOX_COLOR:]</label>
				<p>
					<input type="text" id="custom_box_color" onkeyup="update_preview_theme(0)" name="custom_box_color" style="width:100px;background:[:custom_box_color:]" value="[:custom_box_color:]" />
					<br />(<span style="cursor:pointer;text-decoration:underline" onclick="Pick('custom_box_color')">Pick color</span>)
				</p>
				
				<label for="custom_h_color">[:T_H_COLOR:]</label>
				<p>
					<input type="text" id="custom_h_color" onkeyup="update_preview_theme(0)" name="custom_h_color" style="width:100px;background:[:custom_h_color:]" value="[:custom_h_color:]" />
					<br />(<span style="cursor:pointer;text-decoration:underline" onclick="Pick('custom_h_color')">Pick color</span>)
				</p>
				
				<label for="custom_bg_image">[:T_BG_IMAGE:]</label>
				<p>[:M_BG_IMAGE:]</p>
				<p><input type="text" id="custom_bg_image" name="custom_bg_image" style="width:100px" value="[:custom_bg_image:]" /></p>
				
				<br />
				<p>
					<input type="submit" value="[:T_SAVECHANNEL:]" />
				</p>
			</fieldset>
			<br style="clear:both;width:400px"/>
		</form>
	</div>
	<div class="right" style="text-align: left; margin-left: 30px;">
		<b>[:T_PREVIEW:]:</b><br /><br />
		<input id="preview_button" type="button" onclick="[:themearray:] show_preview()" value="[:T_PREVIEW:]" />
		<div id="preview" style="width: 185px; border: 1px solid; padding: 5px; font-size: 6px; display: none">
			<div class="heading" style="width: 180px; height: 8px">[:T_MYCHANNEL:]</div>
			<div class="box" style="width:160px; text-align: center;">
				[:T_MYCHANNEL:]
			</div>
			<br />
			
			<div class="left" style="margin-right: 8px">
				<div class="heading" style="width: 75px; height: 8px;">[:T_MEMBER_INFO:]</div>
				<div class="box" style="width: 71px; padding: 2px;">
					<div class="left" style="margin-right: 2px">
						<img src="images/blankthumb.jpg" width="20" height="15" style="width: 20px; height: 15px" />
					</div>
					<div class="left">
						[:T_MYCHANNEL:]<br />
						[:T_MEMBER_INFO:]
					</div>
					<div class="brclear" style="width: 65px"></div>
					<br />
				</div>
				<br />
				
				<div id="preview_comments">
					<div class="heading" style="width:75px; height: 8px">[:T_COMMENTS:]</div>
					<div class="box" style="width: 71px; padding: 2px;">
						text<br />
						text<br />
						text<br />
					</div>
					<div class="bottom" style="width: 75px; height: 5px"></div>
					<br />
				</div>
				
				<div id="preview_tags">
					<div class="heading" style="width:75px; height: 8px">[:T_TAGS:]</div>
					<div class="box" style="width: 71px; padding: 2px;">
						text<br />
						text<br />
						text<br />
					</div>
					<div class="bottom" style="width: 75px; height: 5px"></div>
					<br />
				</div>
			</div>
			<div class="left">
				<div id="preview_featured_video" style="display:none">
					<div style="text-align:center">
						<img src="images/cl_featured_video.gif" width="90" height="67" style="width: 90px; height: 67px" />
					</div>
					<br />
				</div>
				
				<div id="preview_vlog" style="display:none">
					<div class="heading" style="width: 95px; height: 8px">[:T_VLOG:]</div>
					<div class="box" style="width:91px; padding: 2px;">
						<img src="images/blankthumb.jpg" width="20" height="15" style="width: 20px; height: 15px; margin-right: 5px; vertical-align: top" />
						[:T_TITLE:]<br />
						[:T_DESC:]
						[:T_DESC:]
						[:T_DESC:]
						[:T_DESC:]
					</div>
					<div class="bottom" style="width:95px; height:5px"></div>
					<br />
				</div>
				
				<div id="preview_featured_videos" style="display:none">
					<div class="heading" style="width: 95px; height: 8px">[:T_FEATURED:]</div>
					<div class="box" style="width:91px; padding: 2px;">
						<img src="images/blankthumb.jpg" width="20" height="15" style="width: 20px; height: 15px; float: left; margin-right: 5px;" />
						<div class="brclear" style="width:90px;"></div>
					</div>
					<div class="bottom" style="width:95px; height:5px"></div>
					<br />
				</div>
				
				<div id="preview_latest_videos" style="display:none">
					<div class="heading" style="width: 95px; height: 8px">[:T_LATEST:]</div>
					<div class="box" style="width:91px; padding: 2px;">
						<img src="images/blankthumb.jpg" width="20" height="15" style="width: 20px; height: 15px; float: left; margin-right: 5px;" />
						<div class="brclear" style="width:90px;"></div>
					</div>
					<div class="bottom" style="width:95px; height:5px"></div>
					<br />
				</div>
				
				<div id="preview_favorites" style="display:none">
					<div class="heading" style="width: 95px; height: 8px">[:T_FAVORITES:]</div>
					<div class="box" style="width:91px; padding: 2px;">
						<img src="images/blankthumb.jpg" width="20" height="15" style="width: 20px; height: 15px; float: left; margin-right: 5px;" />
						<img src="images/blankthumb.jpg" width="20" height="15" style="width: 20px; height: 15px; float: left; margin-right: 5px;" />
						<div class="brclear" style="width:90px;"></div>
					</div>
					<div class="bottom" style="width:95px; height:5px"></div>
					<br />
				</div>
				
				<div id="preview_subscriptions" style="display:none">
					<div class="heading" style="width: 95px; height: 8px">[:T_SUBSCRIPTIONS:]</div>
					<div class="box" style="width:91px; padding: 2px;">
						<img src="images/blankthumb.jpg" width="20" height="15" style="width: 20px; height: 15px; float: left; margin-right: 5px;" />
						<img src="images/blankthumb.jpg" width="20" height="15" style="width: 20px; height: 15px; float: left; margin-right: 5px;" />
						<div class="brclear" style="width:90px;"></div>
					</div>
					<div class="bottom" style="width:95px; height:5px"></div>
					<br />
				</div>
				
				<div id="preview_subscribers" style="display:none">
					<div class="heading" style="width: 95px; height: 8px">[:T_SUBSCRIBERS:]</div>
					<div class="box" style="width:91px; padding: 2px;">
						<img src="images/blankthumb.jpg" width="20" height="15" style="width: 20px; height: 15px; float: left; margin-right: 5px;" />
						<img src="images/blankthumb.jpg" width="20" height="15" style="width: 20px; height: 15px; float: left; margin-right: 5px;" />
						<div class="brclear" style="width:90px;"></div>
					</div>
					<div class="bottom" style="width:95px; height:5px"></div>
					<br />
				</div>
				
				<div id="preview_friends" style="display:none">
					<div class="heading" style="width: 95px; height: 8px">[:T_FRIENDS:]</div>
					<div class="box" style="width:91px; padding: 2px;">
						<img src="images/blankthumb.jpg" width="20" height="15" style="width: 20px; height: 15px; float: left; margin-right: 5px;" />
						<img src="images/blankthumb.jpg" width="20" height="15" style="width: 20px; height: 15px; float: left; margin-right: 5px;" />
						<div class="brclear" style="width:90px;"></div>
					</div>
					<div class="bottom" style="width:95px; height:5px"></div>
					<br />
				</div>
				
			</div>
			<div class="brclear" style="width:180px"></div>
			
		</div>
	</div>
	<div class="brclear"></div>
</div>