<p class="message">[:signal:]</p>
<div class="heading"><h2>[:title:]</h2></div>
<div class="box">
	<form action="index.php?m=remove_friends" method="POST" >
		<div class="hsub">
			<input type="submit" value="[:T_REMOVE:]" onclick="return confirm('[:M_REMOVE_FRIENDS:]')" />
			<a class="submit_button" href="index.php?m=users.invite.usercp&amp;type=1" onclick="this.href='javascript:void(0)'; popup('index.php?m=users.invite&type=1&ajax')">[:T_INVITE_FRIENDS:]</a>
		</div>
		[:list:]
		<div class="brclear"></div>
	</form>
</div>
<div class="bottom"> [:pagination:]</div>
