[:main_video:]
<div class="span-24-2">
	<div class="span-24">
		<!-- the tabs -->
		<ul class="losmas">
		    <li><a href="#">Lo &Uacute;ltimo</a></li>		
		    <li><a href="#">Lo m&aacute;s Visto</a></li>
		</ul>
		<!-- tab "panes" -->
        <div class="contelosmas">
        	<div>
				[:latest_videos:]
			</div>
        	<div>
				[:mostviewed_videos:]
			</div>
		</div>
		<script>
         $(function() {
             $("ul.losmas").tabs("div.contelosmas > div");
         });
		 </script>

	</div>
</div>
<div class="span-24 boxTv box2">
	[:boxmusica:]
</div>
<div class="span-24 boxTv box3">
    [:boxanimacion:]
</div>
<div class="span-24 boxTv box4">
	[:boxtecnologia:]
</div>
<div class="span-24 boxTv box5">
	[:boxentretencion:]

</div>
<div class="span-24 boxTv box6">
	[:boxcine:]
</div>