[:main_video:]
<div class="span-24">
	<div class="span-16">
		<!-- the tabs -->
		<ul class="losmas">
		    <li><a href="#">Lo + Visto</a></li>
		    <li><a href="#">Lo + Reciente</a></li>
		</ul>
		<!-- tab "panes" -->
        <div class="contelosmas">
        	<div>
				[:mostviewed_videos:]
			</div>
			<div>
				[:latest_videos:]
			</div>
		</div>
		<script>
         $(function() {
             $("ul.losmas").tabs("div.contelosmas > div");
         });
		 </script>
	</div>
<!-- cm8 - Comienzo espacio latercera.com _ 3Tv 300x250 -->
<div id="CM8ShowAd2" title="300x250_a" class="adCM8"></div>
<!-- ca-pub-9694759232015294/3TvHome_300x250_a -->
<script type='text/javascript'>
GA_googleFillSlot("3TvHome_300x250_a");
</script> 		
</div>
<div class="span-24 boxTv box2">
	[:boxnoticias:]
</div>
<div class="span-24 boxTv box3">
    [:boxgoles:]
</div>
<div class="span-24 boxTv box4">
	[:boxdeportes:]
</div>
<div class="span-24 boxTv box5">
	[:boxentretencion:]
</div>
<div class="span-24 boxTv box6">
	[:boxtendencias:]
</div>
<div class="span-24 boxTv box7">
 	[:boxbbcmundo:]
</div>