<tr class="[:if new=="1":]inbox_newmessage[:else:]inbox_message[:endif:]">
	<td>
		<input type="checkbox" value="[:id:]" name="id[]" />
	</td>
	<td>
		<a href="index.php?m=users.message&amp;id=[:id:]" onclick="this.href='javascript:void(0)';popup('index.php?m=message&id=[:id:]&ajax')">[:from:]</a>
	</td>
	<td>
		<a href="index.php?m=users.message&amp;id=[:id:]" onclick="this.href='javascript:void(0)';popup('index.php?m=message&id=[:id:]&ajax')">[:subject:]</a>
	</td>
	<td>
		<a href="index.php?m=users.message&amp;id=[:id:]" onclick="this.href='javascript:void(0)';popup('index.php?m=message&id=[:id:]&ajax')">[:time:]</a>
	</td>
</tr>