<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//ES" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
   <head> 
   	  <meta name="verify-v1" content="7L9IIsRCUKUDxj80xEIHA/cL079UGBgq6KnS0Atd+2U=" >	
  	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   	  <meta name="keywords" content="La Tercera TV, Televisi&oacute;n, Goles, Tendencias, Estilo de Vida, Deportes, Sociedad, Cultura, Espectaculos, Internet, Ciencia, Tecnologia, Reportajes, Artes, [:keywords:]" />
   	  <meta name="description" content="[:description:]. Noticias en Video de Chile y el Mundo, La Tercera Televisi&oacute;n" />
      <title>3TV[:titleheader:]</title>
	  <meta name="title" content="3TV[:titleheader:]" />
      <base href="[:url:]/" />

      <link rel="icon" href="[:url:]/_favicon.ico" type="image/x-icon" />
	  <link rel="shortcut icon" href="[:url:]/_favicon.ico" type="image/x-icon" />
      <link href="css/master.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript">var baseurl="[:url:]/";</script>
	  <script type="text/javascript" src="ajax.js"></script>
	  <script type="text/javascript" src="functions.js"></script>
	  <script type="text/javascript" src="colorpicker.js"></script>

	  <script type="text/javascript" src="swfobject.js"></script>
	  <script src="AC_OETags.js" language="javascript"></script>
	  <script type="text/javascript" src="js/googleAdRequest.js"></script>
	  <script language="JavaScript" type="text/javascript">
	  <!--
	  // -----------------------------------------------------------------------------
	  // Globals
	  // Major version of Flash required
	  var requiredMajorVersion = 8;
	  // Minor version of Flash required
	  var requiredMinorVersion = 0;
	  // Minor version of Flash required
	  var requiredRevision = 0;
	  // -----------------------------------------------------------------------------
	  // -->
	  </script>	  
	  <link rel="alternate" type="application/rss+xml" title="[:sitename:] [:T_RSS_FEED:]" href="index.php?m=latestrss" />  
	  <script language="javascript">
	  if (document.URL == 'http://3tv.cl/') {
		 window.location.href='http://www.3tv.cl';
	  }
	  </script>
	  <script language="javascript">
		function cargarCSS(id, URL){
			  document.getElementById(id).href=URL;
		}
	  </script>
	  <script language="javascript" type="text/javascript">
	  <!--
		var existsAd1=false;
		-->	
	  </script>
	  [:cm8foot:]	 
	  <script language="javascript" src="http://adserver.latercera.com/adam/cm8_detect_ad.js"></script> 
   </head>

    <body class="bgHome">
    <!--Al hace llamado a la funcin solo tienes que idicar el nombre del DIV entre parentesis -->
	<div id="navlt">
        <!--BARRA DE NAVEGACION LA TERCERA.COM-->
			<div id="topNav">
			<h1><a href="http://www.latercera.com/">La Tercera.com</a></h1>
			<ul class="menult">
			<li><a href="http://www.latercera.com/canal/674.html">POL&Iacute;TICA</a></li>

			<li><a href="http://www.latercera.com/canal/680.html">NACIONAL</a></li>
			<li><a href="http://www.latercera.com/canal/678.html">MUNDO</a></li>
			<li><a href="http://www.latercera.com/canal/655.html">NEGOCIOS</a></li>
			<li><a href="http://www.latercera.com/canal/656.html">DEPORTES</a></li>
			<li><a href="http://www.latercera.com/canal/659.html">TENDENCIAS</a></li>
			<li><a href="http://www.latercera.com/canal/661.html">ENTRETENCI&Oacute;N</a></li>

			<li><a href="http://www.latercera.com/canal/1453.html">CULTURA</a></li>
			<li><a href="http://www.latercera.com/canal/657.html">EDUCACI&Oacute;N</a></li>
			<li><a href="http://www.latercera.com/canal/660.html">ESTILO</a></li>
			<li><a href="http://www.latercera.com/canal/658.html">3BLOG</a></li>
			<li><a href="http://www.3tv.cl">3TV</a></li>
			<li><a href="http://www.3radio.cl">3RADIO</a></li>

			</ul>
			</div>
      </div>
      <!--FIN BARRA DE NAVEGACION LA TERCERA.COM-->
    </div>
[:if showswf=="true":]
   <div id="topcarrusel">
      	<div class="pubTopVideos"> 
			<div id="CM8ShowAd1" title="728x90" class="adCM8"></div> 
		</div>
	   	<div id="topVideos" class="span-24">

	  		<object type="application/x-shockwave-flash" data="[:swf:]" width="954" height="358">
	        	<param name="wmode" value="transparent" />
                <param name="movie" value="[:swf:]" />
	    	</object>
	  	</div>
	</div>
[:endif:]
     <div id="contenido"><!--inicio de wrarp del contenido-->     
		<div class="container">            
            <div id="header" class="span-24"><!--HEADER-->
              <!--LOGO-->

              <div class="span-5"><a href="[:url:]" title="[:sitename:]" id="logo"></a></div>
              <!--FIN LOGO-->
              <div class="span-13">
                <div id="navbar">
                  <ul id="navbar_wrapper">
                    [:menu:]
                  </ul>
                </div>
             </div>

              <div class="span-6 last">
                <form class="search" action="index.php" method="get">
                  <input type="hidden" name="m" value="search" />
                  <!--[:T_SEARCH:]:-->
                  <input type="text"  name="search" onclick="  this.value=''" value="Buscar..." class="buscartop" style="height:14px"/>
                  <input type="image" src="../css/i/but-buscartop.gif" value="ir" />
                </form>
              </div>              
            </div><!--FIN HEADER-->          
          <div id="contents span-24">

           [:content:]
          </div>
          <!--PUBLICIDAD FOOT 900x200-->
		  <div id="CM8ShowAd6" title="970x200" class="adCM8"></div> 
    	  <!--FIN PUBLICIDAD FOOT 900x200-->  
            <div class="footer span-24">
                 	<div class="footNav span-22 prepend-1 append-1 last">
                       <ul>[:footer_menu:]</ul> 
                    </div>
                    <div class="span-4 prepend-1"><h3><a class="logof" href="http://www.latercera.com">La Tercera.com</a></h3></div> 
                    <div class="footNav2 span-17">

                       <ul>
                       		<li><a href="http://www.latercera.com/contacto.html">Contacto</a></li>
                            <li><a href="http://www.3md.cl">Publicidad</a></li>
                            <li><a href="http://suscripciones.latercera.cl/Suscripciones/paso_uno/otras/0,0,3255,00.html">Suscripciones</a></li>
                            <li><a href="http://www.clublatercera.cl">Beneficios</a></li>
                            <li><a href="http://www.latercera.com/terminosycondiciones.html">Terminos y condiciones de uso</a></li>

                            <li><a href="http://www.latercera.com/app/rss?sc=TEFURVJDRVJB&ul=1">RSS</a></li>
                      </ul> 
                       <p>Consorcio Period&iacute;stico de Chile S.A. Derechos reservados<br />
Se proh&iacute;be expresamente la reproducci&oacute;n o copia de los contenidos de este sitio sin el expreso consentimiento de Consorcio Period&iacute;stico de Chile S.A.</p>
                    </div>
            </div>

        </div>   
   </div><!--fin de wrarp del contenido-->  
   <div id="black_overlay"></div>
       <div id="popup">
            <div style="text-align:right">
                    <a href="javascript:void(0)" onclick="close_popup()" title="[:T_CLOSE:]">
                <img style="display:inline" src="images/close.png" alt="[:T_CLOSE:]" /></a>
             </div>
            <div id="popup_body"></div>
        </div>

		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var COPESATracker = _gat._getTracker("UA-1861205-1");
			COPESATracker._setDomainName("none");
			COPESATracker._setAllowLinker(true);
			COPESATracker._initData();
			COPESATracker._trackPageview();
		</script>
		<div style="visibility: hidden;">
			<!--<img src="/imagenes/dot.gif" name="cert_Pivot" id="cert_Pivot" width="1" height="1" alt="" />-->
			<script language="JavaScript1.4" src="http://resource.latercera.cl/js/certifica-js14.js"></script>
			<script type="text/javascript" src="http://resource.latercera.com/js/certifica_20090330.js"></script>
			<script type="text/javascript">
				var m = cert_qVal('m');
				var c = cert_qVal('c');
				var v = cert_qVal('v');
				var texto = '';
				if (!m){
					texto='/home/portada';
				} else {
					if (!c) texto = '/home/' + m + '/' + v;
					if (!v) texto = '/home/' + m + '/' + c;
				}
				tagCertifica(106340, texto);
			</script>

		</div>
		<script src="http://adserver.latercera.com/adam/cm8adam_1_bottom.js" type="text/javascript" language="javascript"></script> 
	</body>
</html>
