		[:if categories_title != "PRUEBA":]
		[:categories_title:]
		<!--<div class="[:if trigger=="1":]box1[:else:]box1[:endif:]" style="float:left" [:cat_counter:]>-->
        <div class="box2 [:if corte=="1":]last[:endif:]">
			<script type="text/javascript" src="index.php?m=videothumbs&amp;v=[:id:]&amp;ajax"></script>
            <!--DESCRIPCION DEL VIDEO-->

  <div class="span-4 [:if corte=="1":]last[:endif:]">

      <div class="thumb">

	  <div class="categoriaTh"><h5>[:categories_title:]</h5></div>
		  <a href="[:videourl:]" title="[:title:]"><img id="thumb_[:id:]" src="[:thumb:]" alt="[:title:] [:T_VIDEO:]" onmouseover="rotate_thumbs([:id:],true)" onmouseout="rotate_thumbs([:id:],false)" border="0" height="90" width="132"/></a>
	  </div>
	  <div>	
	  <h3><a class="[:disabled:]" href="[:videourl:]">[:short_title:]</a>

	  	[:if private=="1":]<span class="small">([:T_PRIVATE:])</span>[:endif:]

	  </h3>
	  </div>
	  <p>[:duration:]</p>
      <!--<img alt="[:title:] [:T_RATINGS:]" src="images/stars-[:rate:].gif" />-->
	  <p>[:T_ADDED:]: [:time:]</p>
	  <span class="small"><b>[:T_VIEWS:]:</b> [:hits:]</span>&nbsp;
	  <p><a href="[:videourl:]">PLAY</a></p>

  </div>

  <div class="brclear"></div>

  </div>        

            <!--FIN DESCRIPCION DEL VIDEO-->
         <!--	<div style="text-align:right">

			[:if owner=="true":]

				<a href="index.php?m=edit_video&amp;v=[:id:]&amp;ajax" onclick="this.href='javascript:void(0)'; popup('index.php?m=edit_video&amp;v=[:id:]&amp;ajax')" title="[:T_EDIT_VIDEO:]"><img alt="[:T_EDIT_VIDEO:]" src="images/page_edit.png" width="16" height="16" /></a>

				<a href="index.php?m=users.addtovlog&amp;v=[:id:]" title="[:T_ADD_TO_VLOG:]"><img alt="[:T_ADD_TO_VLOG:]" src="images/tv_add.png" width="16" height="16" /></a>

				<a href="index.php?m=setprivate&amp;v=[:id:]" title="[:T_SETPRIVATE:]"><img alt="[:T_SETPRIVATE:]" src="images/key.png" width="16" height="16" /></a>

			[:endif:]

			[:if addto=="group":]

			 	<a href="index.php?m=users.addtogroup&amp;v=[:id:]&amp;group=[:group:]" title="[:T_ADD_TO_GROUP:]"><img alt="[:T_ADD_TO_GROUP:]" src="images/page_add.png" width="16" height="16" /></a>

			[:endif:]

			[:if modify=="true":]

				<a href="index.php?m=edit_video&amp;v=[:id:]&amp;ajax" onclick="this.href='javascript:void(0)'; popup('index.php?m=edit_video&amp;v=[:id:]&amp;ajax')" title="[:T_EDIT_VIDEO:]"><img alt="[:T_EDIT_VIDEO:]" src="images/page_edit.png" width="16" height="16" /></a>

			[:endif:]

			[:if enable=="1":]

			   <a href="index.php?m=enable_video&amp;e=0&amp;v=[:id:]" title="[:T_DISABLE_VIDEO:]"><img alt="[:T_DISABLE_VIDEO:]" src="images/cross.png" width="16" height="16" /></a>

			[:endif:]

			[:if enable=="0":]

			   <a href="index.php?m=enable_video&amp;e=1&amp;v=[:id:]" title="[:T_ENABLE_VIDEO:]"><img alt="[:T_ENABLE_VIDEO:]" src="images/tick.png" width="16" height="16" /></a>

			[:endif:]

			</div>

			<div class="brclear"></div>

		</div>

		[:endif:]
				-->