<div class="span-16">
<!--<div class="heading"><h2>[:category_title:]</h2></div>-->
<!--nube de tags-->
<div class="box tagscanal">[:tag_cloud:]</div>
<!-- fin nube de tags-->
[:if subcats=="":]
[:else:]
<div class="span-18 last">
	[:subcats:]
	<div class="brclear"></div>
</div>
[:endif:]
[:if featured=="":]
[:else:]
<!--<div class="box" style="height:182px">
	[:featured:]
	<div class="brclear"></div>
</div><br />-->
[:endif:]
<!---->
<div class="span-18 last">
	<div class="heading"><h2>[:title:]</h2></div>
		[:list:]
</div>	
	<div class="bottom" style="float:right;">[:pagination:]</div>
</div>
<!--COLUMNA DERECHA VIDEOS-->
<div class="span-8 rbg last">
<div class="m10lr">

	<!-- CM8 - Comienzo espacio latercera.com _ 3Tv Home _ 7 Banner -->
	<div id="CM8ShowAd3" title="300x90_a" class="adCM8"></div>
	<!-- CM8 - Fin espacio latercera.com _ 3Tv Home _ 7 Banner -->
	   
     <div class="headingS">
            <h2>[:T_CAT:]</h2>
	</div>
    <div id="box">
        <ul class="quicklist">
		<li><a [:if c=="":]style="background: url('css/i/bullRed-sidebar.gif') no-repeat left center;font-weight: bold" [:endif:]href="index.php?m=videos[:if sort=="":][:else:]&amp;sort=[:sort:][:endif:]">[:T_VIEWALL:]</a></li>	
		[:categories:]
		</ul>
    </div>
  </div> 
  		<!--PUBLICIDAD COL DERECHA ABAJO-->
		<!-- cm8 - Comienzo espacio latercera.com _ 3Tv 300x250 -->	
		<div id="CM8ShowAd2" title="300x250_a" class="adCM8"></div>
				<!-- cm8 - Comienzo espacio latercera.com _ 3Tv 300x250 -->
		<!-- ca-pub-9694759232015294/[:googlechannel:]_300x250_a -->
		<script type='text/javascript'>
			GA_googleFillSlot("[:googlechannel:]_300x250_a");
		</script>
		<!-- cm8 - Comienzo espacio latercera.com _ 3Tv 300x250 -->		
		<!--FIN PUBLICIDAD COL DERECHA ABAJO--> 
</div>
[:marca_bbc:]