<p class="message">[:signal:]</p>
<div class="left" style="width:700px">	
	<div class="left" style="margin-top:15px">
		<a name="stab" id="tab_0" class="stab[:if selected=="edit_channel":]h[:endif:]" href="index.php?m=users.edit_channel.mychannel" onclick="get_url_contents('index.php?m=edit_channel&ajax','ajax_box'); highlight(this,'stab','#CCCCFF','#EDF2F4')">[:T_EDIT_CHANNEL:]</a>
		<a name="stab" id="tab_1" class="stab[:if selected=="edit_profile":]h[:endif:]" href="index.php?m=users.edit_profile.mychannel" onclick="get_url_contents('index.php?m=edit_profile&ajax','ajax_box'); highlight(this,'stab','#CCCCFF','#EDF2F4')">[:T_EDIT_PROFILE:]</a>
		<a name="stab" id="tab_2" class="stab[:if selected=="edit_layout":]h[:endif:]" href="index.php?m=users.edit_layout.mychannel" onclick="get_url_contents('index.php?m=edit_layout&ajax','ajax_box'); highlight(this,'stab','#CCCCFF','#EDF2F4')">[:T_EDIT_LAYOUT:]</a>
		<a name="stab" id="tab_3" class="stab[:if selected=="edit_vlog":]h[:endif:]" href="index.php?m=users.edit_vlog.mychannel" onclick="get_url_contents('index.php?m=edit_vlog&ajax','ajax_box'); highlight(this,'stab','#CCCCFF','#EDF2F4')">[:T_EDIT_VLOG:]</a>
		<script type="text/javascript">
			document.getElementById('tab_0').href='javascript:void(0)';
			document.getElementById('tab_1').href='javascript:void(0)';
			document.getElementById('tab_2').href='javascript:void(0)';
			document.getElementById('tab_3').href='javascript:void(0)';
		</script>
	</div>
	<div class="left" style="width:540px">
		<div class="heading"><h2>[:T_MYCHANNEL:]</h2></div>
		<div class="box">
			<div id="ajax_box">
				[:edit:]
			</div>
		</div>	
	</div>

	<div class="brclear" style="width:390px"></div>
</div>
<div class="right" style="margin-left:20px;">
	[:ad1:]
</div>
<div class="brclear"></div>