<div class="span-24-2">
	<div class="boxTv box1">
		<h6 class="rotulo">[:title:]</h6>
        <a class="prev browse left"></a>
        <div class="scrollable">   
        	<div class="items">
        		[:list:]
        	</div>
        </div>
        <!-- "next page" action -->
        <a class="next browse right"></a>
        <!-- javascript coding -->
 		<script>
		// execute your scripts when the DOM is ready. this is mostly a good habit
		$(function() {
		
		    // initialize scrollable
		    $(".scrollable").scrollable();
		
		});
		</script>
 	</div>
</div>