<div class="error">[:error:]</div><br />
<form action="index.php" method="get" class="ss_form">
	[:M_SUBSCRIBETO_USERNAME:]<br />
	<input type="hidden" name="m" value="users.subscribe.usercp"/>
	<input type="text" name="to"/>
	<input type="submit" value="[:T_SUBSCRIBE:]"/>
</form>
<form action="index.php" method="get" class="ss_form">
	[:M_SUBSCRIBETO_TAGS:]<br />
	<input type="hidden" name="m" value="users.subscribe.usercp"/>
	<input type="text" name="to"/>
	<input type="hidden" name="tag" value="1"/>
	<input type="submit" value="[:T_SUBSCRIBE:]"/>
</form>
<div class="brclear" style="width:390px"></div>
<br />
<div class="left" style="margin-top:15px">
	<a name="stab" id="tab_0" class="stabh" href="index.php?m=users.subscriptions.usercp&amp;channel=New+Videos&amp;tag=1" onclick="this.href='javascript:void(0)';get_url_contents('index.php?m=subscription.usercp&amp;channel=New+Videos&amp;tag=1','ajax_box'); highlight(this,'stab','#CCCCFF','#EDF2F4')">[:T_NEWVIDEOS:]</a>
	[:list:]
</div>
<div class="left" style="width:540px">
	<div class="heading"><h2>[:T_MYSUBSCRIPTIONS:]</h2></div>
	<div class="box">
		<div id="ajax_box">
			[:subscription:]
			<script type="text/javascript">
			<!--
			get_url_contents('index.php?m=subscription&amp;channel=New+Videos&amp;tag=1','ajax_box');
			-->
			</script>
		</div>
	</div>	
</div>
<div class="brclear" style="width:540px"></div>