
	[:if is_first=="1":]
	<div class="span-23 last">
	[:endif:]
	   	<div class="span-4" [:if is_last=="1":]style="margin-right: 0pt;"[:endif:]>
	       	<div class="cap140x86 ic_container">
		        <img src="[:thumb:]" width="138" height="88" alt=""/>
		        <div class="ic_caption">
		            <a href="/index.php?m=video&v=[:id:]" class="verVideo">Ver video</a>
		            <p class="ic_text">
		               Duraci&oacute;n: [:duration:] min<br />
		               Visitas: [:hits:]
		            </p>
		        </div>
			</div>
			<h4>[:title:]</h4>
	   	</div>
	[:if is_last=="1":]
	</div>
	[:endif:]
