<h3>[:T_CREATE_GROUP:]</h3>
<form action="index.php?m=users.creategroup.newgroup.groups.usercp" onclick="return false" method="post" enctype="multipart/form-data">
	<fieldset>
		<p class="error">[:error:]</p>
		
		<label for="name">[:T_GROUP_NAME:]</label>
		<p>[:M_GROUP_NAME:]</p>
		<p><input type="text" value="[:name:]" id="name" style="width:320px" name="name" /></p>

		<label for="description">[:T_GROUP_DESC:]</label>
		<p>[:M_GROUP_DESC:]</p>
		<p><textarea id="description" cols="10" rows="5" style="width:320px;height:120px" name="description">[:description:]</textarea></p>

		<label for="private">[:T_PRIVATE_GROUP:]</label>
		<p><input type="checkbox" id="private" name="private" value="1" [:if private=="1":]selected="selected"[:endif:]/> [:M_PRIVATE_GROUP:]</p>
		
		<p>
			<input type="submit" value="[:T_CREATE_GROUP:]" onclick="return validate(this.form, validate_newgroup)" />
		</p>
	</fieldset>
</form>