[:video:]
<div class="span-24">
	[:related_videos:]
</div>
<!---GoogleAds-->
<script language="JavaScript">
	google_ad_client = 'pub-9694759232015294'; // sustituya su código id_cliente (pub-#)
	google_language = 'es';
	google_ad_slot = '3093783667';
	google_ad_output = 'js';
	google_max_num_ads = '3';
	google_ad_type = 'text';
	google_feedback = 'on';
</script>
<div class="ad940x90">
	<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
<!--Fin GoogleAds-->
<div class="span-24 boxTv box2">
	[:boxvideolatest:]
</div>
<!--PUBLICIDAD CENTRO-->
<div id="CM8ShowAd5" title="600x250" class="adCM8" style="left:7px;margin-bottom:14px;position:relative;"></div> 
<!--Fin PUBLICIDAD CENTRO-->
<div class="span-24 boxTv">
	[:boxvideomoreviewed:]
</div>
<!--PUBLICIDAD FOOT 900x200-->
<div id="CM8ShowAd6" title="970x200" class="ad940x200"></div>
<!--FIN PUBLICIDAD FOOT 900x200--> 
