		<div class="span-18 last BoxCat">
			<div class="TitSubCat"><h3><a href="[:caturl:]">[:title:]</a></h3>
			
			[:if modify=="true":]
			<a href="index.php?m=edit_category&amp;c=[:id:]&amp;ajax" onclick="this.href='javascript:void(0)'; popup('index.php?m=edit_category&amp;c=[:id:]&amp;ajax')" title="[:T_EDIT_CATEGORY:]"><img alt="[:T_EDIT_CATEGORY:]" src="images/page_edit.png" /></a>				
			[:endif:]
			
			<p>[:T_VIDEOS:]: [:videos:]</p>
			<a href="index.php?m=categoryrss&amp;c=[:id:]" title="[:T_RSS_FEED:]"><img src="images/rss.png" class="inline" alt="[:T_RSS_FEED:]"/></a>
			</div>
			[:topvideos:]
		</div>
<div id="CM8ShowAd5" title="600x250" class="adCM8" style="left:11px;position:relative;"></div>