		<div class="subscription_thumb">
			<div>
				<a href="index.php?m=picture&amp;p=[:id:]" onclick="this.href='javascript:void(0)';popup('index.php?m=picture&amp;p=[:id:]&amp;ajax&amp;w='+(document.documentElement.clientWidth-80)+'&amp;h='+(document.documentElement.clientHeight-80),'fullscreen')"><img src="[:filename:]" width="120" height="90" alt="[:T_THUMBNAIL:]" border="0"/></a>
				[:if owner=="true":]<a href="index.php?m=removepicture&amp;p=[:id:]" onclick="this.href='javascript:void(0)';if(confirm('[:M_REMOVE_PIC:]'))location.href='index.php?m=removepicture&amp;p=[:id:]'"><img class="remove" width="16" height="16" alt="[:T_REMOVE:]" src="images/cross.gif" /></a>[:endif:]
			</div>
		</div>