<h3>[:T_REPORT:]</h3>
<form action="index.php?m=users.savereport" method="post">

	<label for="reason">[:T_REASON:]</label>
	<p><textarea id="reason" name="reason" rows="5" cols="10" style="width:350px;height:150px;" ></textarea></p>
	
	<input type="hidden" name="r" value="[:r:]" />
	<input type="hidden" name="t" value="[:t:]" />
	<input type="hidden" name="v" value="[:v:]" />
	<input type="hidden" name="channel" value="[:channel:]" />
	
	<p><input type="submit" value="[:T_REPORT:]" /></p>
	
</form>