<div id="comments_box">
<div class="heading" style="width:[:h_width:]px"><h2>[:title:] [:if locked=="true":]<img alt="[:T_LOCKED:]" width="16" height="16" src="images/lock.png" class="inline" />[:endif:]</h2></div>
<div class="box">
	[:list:]
</div>
<div class="bottom" style="width:[:h_width:]px">[:pagination:]</div>

<br />
[:if ismember=="true":]
<div class="heading" style="width:[:h_width:]px"><h2>[:T_REPLY:]</h2></div>
		<div class="box" style="width:[:width:]px">
			<form name="frmComments" action="index.php?m=users.postdiscussion&amp;d=[:id:]" method="post">
				<a class="button" title="[:T_INSERT_SMILEY:]" href="javascript:void(0)" onclick="popup('index.php?m=emoticons&ajax')"><img alt="[:T_INSERT_SMILEY:]" class="inline" src="emoticons/smile.gif" /></a>
				<a class="button" title="[:T_BOLD:]" href="javascript:void(0)" onclick="insert_tag(document.getElementById('post_text'),'[b]','[/b]')"><b>B</b></a>
				<a class="button" title="[:T_ITALIC:]" href="javascript:void(0)" onclick="insert_tag(document.getElementById('post_text'),'[i]','[/i]')"><i>I</i></a>
				<a class="button" title="[:T_UNDERLINE:]" href="javascript:void(0)" onclick="insert_tag(document.getElementById('post_text'),'[u]','[/u]')"><u>U</u></a>
				<select style="width:100px" onchange="if(this.selectedIndex!=0)insert_tag(document.getElementById('post_text'),'[font='+this.options[this.selectedIndex].text+']','[/font]');this.selectedIndex=0">
					<option>[:T_FONT:]</option>
					<option>Arial</option>
					<option>Arial Black</option>
					<option>Arial Narrow</option>
					<option>Book Antiqua</option>
					<option>Century Gothic</option>
					<option>Comic Sans MS</option>
					<option>Courier New</option>
					<option>Garamond</option>
					<option>Georgia</option>
					<option>Tahoma</option>
					<option>Times New Roman</option>
					<option>Trebuchet MS</option>
					<option>Verdana</option>
				</select>
				<select style="width:100px" onchange="if(this.selectedIndex!=0)insert_tag(document.getElementById('post_text'),'[color='+this.options[this.selectedIndex].text+']','[/color]');this.selectedIndex=0">
					<option>[:T_FONTCOLOR:]</option>
					<option>Black</option>
					<option>Red</option>
					<option>Magenta</option>
					<option>Pink</option>
					<option>Sienna</option>
					<option>Orange</option>
					<option>DarkGreen</option>
					<option>Green</option>
					<option>YellowGreen</option>
					<option>Yellow</option>
					<option>Navy</option>
					<option>Blue</option>
					<option>Cyan</option>
					<option>PaleGreen</option>
					<option>Indigo</option>
					<option>Purple</option>
					<option>Plum</option>
					<option>Gray</option>
					<option>Silver</option>
					<option>White</option>
				</select>
				<div class="brclear" style="width:[:width:]px"></div>
				<textarea id="post_text" name="text" style="width:500px; height:100px"></textarea><br/>
				<input type="submit" id="post" value="[:T_POST:]"/>
			</form>
		</div>
</div>
[:endif:]