		<div class="comment">
			<div style="margin: 0 0 10px 0">
				<img src="images/comment.png" /> <span class="small"><b>[:username:]</b>, [:time:]</span>
			</div>
			<div>
				[:text:]
			</div>
			[:if owner=="true":]
			<p>
			<a title="[:T_REMOVE_POST:]" href="index.php?m=users.deletepost&amp;p=[:id:]&amp;d=[:discussions_id:]" onclick="this.href='javascript:void(0)';if(confirm('[:M_REMOVE_POST:]'))location.href='index.php?m=users.deletepost&amp;p=[:id:]&amp;d=[:discussions_id:]';"><img alt="[:T_REMOVE_POST:]" src="images/cross.gif" width="16" height="16"/></a>
			</p>
			[:endif:]
		</div>