<h3>[:T_EDIT_VIDEO:]</h3>
<form action="index.php?m=save_video" method="post">
	<fieldset>
		<input type="hidden" name="v" value="[:v:]" />
		
		<label for="description">[:T_DESC:]</label>
		<p><textarea id="description" cols="10" rows="5" style="width:320px;height:240px" name="description">[:description:]</textarea></p>

		<label for="category">[:T_CAT:]</label>
		<p>
			[:categories:]
		</p>
		
		<label for="tags">[:T_TAGS:]</label>
		<p><input id="tags" type="text" name="tags" value="[:tags:]" style="width:350px" /></p>
		
		<p>
			<input type="submit" value="[:T_SAVE:]" /> <input type="button" value="[:T_CLOSE:]" onclick="close_popup()" />
		</p>
	</fieldset>
</form>