<p class="message">[:signal:]</p>
<div class="left" style="width:700px">
	<div class="heading"><h2>[:name:]</h2></div>
	<div class="box">
		<div class="thumb">
			<a href="[:groupurl:]"><img src="[:thumb:]" width="120" height="90" alt="[:T_GROUP:]:[:name:]" border="0"/></a>
		</div>
		<div class="left">
			<span class="small"><a href="index.php?m=videos&amp;group=[:id:]">[:T_VIDEOS:]: [:video_count:]</a></span> |
			<span class="small"><a href="index.php?m=groupmembers&amp;group=[:id:]">[:T_MEMBERS:]: [:user_count:]</a></span> |
			<span class="small"><a href="index.php?m=discussions&amp;group=[:id:]">[:T_DISCUSSIONS:]: [:discussion_count:]</a></span>
			<br /><br />
			<a href="[:groupurl:]" title="[:name:]"><h3>[:name:]</h3></a><br />
			<p>[:description:]</p>
			<span class="small">[:T_OWNER:]: <a id="author_[:id:]" href="index.php?m=channel&amp;channel=[:url_username:]" onclick="this.href='javascript:void(0)'; popup('index.php?m=channelpreview&amp;channel=[:url_username:]')">[:username:]</a></span><br />
			<script type="text/javascript"></script>
			<span class="small">[:T_CREATED:]: [:time:]</span><br />
		</div>
		<div class="right" style="width:150px">
			[:if ismember=="false":]<a class="qlink" href="index.php?m=users.joingroup&amp;group=[:id:]"><img class="inline" alt="[:T_JOIN_GROUP:]" src="images/page_add.png" width="16" height="16" /> [:T_JOIN_GROUP:]</a><br />[:endif:]
			[:if owner=="true":]<a class="qlink" href="index.php?m=users.invite&amp;type=2&amp;g=[:id:]" onclick="this.href='javascript:void(0)';popup('index.php?m=users.invite&amp;type=2&amp;g=[:id:]&amp;ajax')"><img class="inline" alt="[:T_GROUP_INVITE_MEMBER:]" src="images/page_add.png" width="16" height="16" /> [:T_GROUP_INVITE_MEMBER:]</a><br />[:endif:]
			<a class="qlink" href="index.php?m=users.myvideos&amp;group=[:id:]"><img class="inline" alt="[:T_ADD_VIDEO:]" src="images/page_add.png" width="16" height="16" /> [:T_ADD_VIDEO:]</a>
			<br />
			<a class="qlink" href="index.php?m=users.newdiscussion&amp;group=[:id:]" onclick="this.href='javascript:void(0)';popup('index.php?m=users.newdiscussion&amp;group=[:id:]&amp;ajax')"><img class="inline" alt="[:T_CREATE_DISCUSSION:]" src="images/page_add.png" width="16" height="16" /> [:T_CREATE_DISCUSSION:]</a>
		</div>
		<div class="brclear"></div>
		<div style="text-align:right">
		[:if owner=="true":]
			<a href="index.php?m=users.editgroup.groups&amp;g=[:id:]" onclick="this.href='javascript:void(0)'; popup('index.php?m=editgroup&amp;g=[:id:]&amp;ajax')" title="[:T_EDIT_GROUP:]"><img alt="[:T_EDIT_GROUP:]" src="images/page_edit.png" width="16" height="16" /></a>
		[:endif:]
		</div>
	</div>
	<div class="heading"><h2>[:T_VIDEOS:]</h2></div>
	<div class="box">
		[:videos:]
		<div class="brclear" style="width:600px"></div>
	</div>
	<div class="bottom"><a href="index.php?m=videos&amp;group=[:id:]">[:T_VIEWALL:]</a></div>
	<br />
	<div class="heading"><h2>[:T_DISCUSSIONS:]</h2></div>
	<div class="box">
		<table class="inbox_table">
		<tr class="inbox_header"><th>[:T_TOPIC:]</th><th>[:T_AUTHOR:]</th><th>[:T_POSTS:]</th><th>[:T_LASTPOST:]</th></tr>
		[:discussions:]
	</table>
		<div class="brclear" style="width:600px"></div>
	</div>
	<div class="bottom"><a href="index.php?m=discussions&amp;group=[:id:]">[:T_VIEWALL:]</a></div>
</div>
<div class="right" style="margin-left:20px">
	[:ad1:]
</div>
<div class="brclear"></div>