<div class="heading" style="width:180px;"><h2>[:T_SIGNIN:]</h2></div>
<div class="box" style="width:160px;height:215px;overflow:auto">
[:if username=="":]
	<form action="index.php?m=login" method="post">
		<fieldset>
			<input type="hidden" name="redir" value="" />
			
			<label for="username">[:T_USERNAME:]</label>
			<p><input id="username" type="text" name="username" style="width:80px" /></p>

			<label for="password">[:T_PASSWORD:]</label>
			<p><input id="password" type="password" name="password" style="width:80px" /></p>

			<p>
				<input type="submit" value="[:T_SIGNIN:]" />
			</p>
			<p>
				<a href="index.php?m=reset_password">[:T_FORGOTPWD:]</a> |
				<a href="index.php?m=signup">[:T_NONMEMBER:]</a>
			</p>
		</fieldset>
	</form>
[:else:]
<b>[:username:]</b>
<br />
<a href="[:url:]/index.php?m=logout">[ [:T_SIGNOUT:] ]</a>
[:endif:]
</div>
<div class="bottom" style="width:180px;"></div>