		<div class="box2 [:if corte=="1":]last[:endif:]">
			<div class="thumb">
				<a href="[:videourl:]" title="[:title:]"><img src="[:thumb:]" alt="[:title:] [:T_VIDEO:]" border="0" height="90" width="132"/></a>
			</div>	
				<h3><a href="[:videourl:]" title="[:title:]">[:short_title:]</a></h3>
				<span class="small">[:duration:]</span><br /><img alt="[:title:] [:T_RATINGS:]" src="images/stars-[:rate:].gif" /><br /><span class="small">[:T_ADDED:]: [:time:]<br/></span><span class="small">[:T_VIEWS:]: [:hits:]<br /></span>
				<div class="brclear"></div>
		    </div>